/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.u-btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   color: $color-text-white;
   font-size: 18px;
   background-color: $color-bg-green;
   padding: 16px 35px;
   text-align: center;
   transition: $global-transition;
   font-family: $heading-family;
   white-space: nowrap;
   border-radius: $btn-radius;
   outline: 0;
   border: 0;
   cursor: pointer;
   @extend .f-600;

   @include bp(xlarge) {
      padding: 16px 70px;

      &:hover {
         background-color: $color-bg-green-3;
      }
   }
}

.u-btn--white {
   @extend .u-btn;
   padding: 16px 47px;
   color: $color-text;
   background-color: $color-bg-white;
   font-size: 16px;
   border: 2px solid $color-border-white;

   @include bp(xlarge) {
      &:hover {
         background-color: transparent;
         color: $color-text-white;
      }
   }
}

.u-btn--narrow {
   @extend .u-btn;
   padding: 13px 50px; 
   font-size: 16px;
}

.u-btn--narrow-modified {
   @extend .u-btn;
   padding: 15px 50px;
   font-size: 16px;

   @include bp(xlarge) {
      padding: 13px 50px;
   }
}

.u-btn--small {
   @extend .u-btn;
   font-size: 16px;
   background-color: $color-bg-green-2;
   padding: 9px 20px;
}

.u-btn--carousel-white {
   @extend .u-btn--white;
   padding: 12px 36px;
}