/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */


h1, h2, h3, h4, h5, h6, .heading-family {
    font-family: $heading-family;
    line-height: 1.2; 
    color: $color-text;
    font-weight: 700;
}

.banner-heading { /* 50px ~ 35px */
    font-size: 3.5rem;
    line-height: 1.1;

    @include bp(large) {
        font-size: 5rem;
    }
}

.banner-heading-small { /* 50px ~ 25px */
    font-size: 3.5rem;
    line-height: 1.14;

    @include bp(medium) {
        font-size: 3.5rem;
    }

    @include bp(large) {
        font-size: 5rem;
    }
}

.text-number { /* 48px */
    font-size: 4.8rem;
    line-height: 1.2;
}

.banner-heading-2 { /* 45px ~ 35px */
    font-size: 3.5rem;
    line-height: 1.2;

    @include bp(large) {
        font-size: 4.5rem;
    }
}

.text-header { /* 35px */
    font-size: 3.5rem;
    line-height: 1.2;
}

.text-quote { /* 28px ~ 18px */
    font-size: 1.8rem;
    line-height: 1.36;

    @include bp(large) {
        font-size: 2.8rem;
    }
}

.text-team { /* 25px */
    font-size: 2.5rem;
    line-height: 1.4;
}

.text-resources { /* 25px ~ 16px */
    font-size: 1.6rem;
    line-height: 1.2;

    @include bp(large) {
        font-size: 2.5rem;
    }
}

.text-banner { /* 24px ~ 18px */
    font-size: 1.8rem;
    line-height: 1.33;

    @include bp(large) {
        font-size: 2.4rem;
        line-height: 1.125;
    }
}

.text-banner-two { /* 24px ~ 15px */
    font-size: 1.8rem;
    line-height: 1.4;

    @include bp(large) {
        font-size: 2.4rem;
        line-height: 1.125;
    }
}

.text-info { /* 23px */
    font-size: 2.3rem;
    line-height: 1.2;
}

.text-job { /* 18px */
    font-size: 1.8rem;
    line-height: 1.2;
}

.text-nav { /* 16px */
    font-size: 1.6rem;
    line-height: 1.1875;
}

.text-link { /* 16px ~ 14px */
    font-size: 1.4rem;
    letter-spacing: 0.1em;

    @include bp(large) {
        font-size: 1.6rem;
    }
}

.text-body { /* 14px */
    font-size: 1.4rem;
    line-height: 1.36;
}

.text-small { /* 14px ~ 12px */
    font-size: 1.2rem;
    line-height: 1.4;

    @include bp(large) {
        font-size: 1.4rem;    
    }
}