
/* ==========================================================================
   #IMAGES
   ========================================================================== */

.img-fluid {
   max-width: 100%;
   height: auto;
   width: 100%;
}

.fit-cover {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
 
img.lazy {
   opacity: 0;
}
 
img:not(.initial) {
   transition: opacity 400ms;
}
  
img.initial,
img.loaded,
img.error {
   opacity: 1;
}
  