.u-input {
    background-color: $color-bg-white;
    outline: 0;
    padding: 15px;
    color: $color-text;
    border: 1px solid transparent;
    transition: $global-transition;
    @extend .f-heading;

    &::placeholder {
        color: $color-text-gray-2;
    }

    &:focus {
        border: 1px solid $color-border-green;
    }
}

.u-textarea {
    resize: none;
}