/* ==========================================================================
   #TYPOGRAPHY & COLORS & FONT WEIGHTS & LINE HEIGHTS
   ========================================================================== */

/**
 * Font Colors
 */

.color-black {
    color: $color-text;
}

.color-white {
    color: $color-text-white;
}

.color-gray {
    color: $color-text-gray;
}

.color-green {
    color: $color-text-green;
}

/**
 * Font Weights
 */

.f-400 {
    font-weight: 400;
}

.f-500 {
    font-weight: 500;
}

.f-600 {
    font-weight: 600;
}

.f-700 {
    font-weight: 700;
}

/**
 * Font Type
 */
 .f-text {
    font-family: $text-family;
}

.f-heading {
    font-family: $heading-family;
}

/**
 * Font Styles
 */

 .f-italic {
    font-style: italic;
 }

/**
 * Line Heights
 */

.line-reset {
    line-height: 1;
}

.line-normal {
    line-height: 1.2;
}

.line-big {
    line-height: 1.8;
}

.line-double {
    line-height: 2;
}

/**
 * Letter Spacings
 */

 .l-small {
    letter-spacing: 0.1em;
 }
