{% extends 'layouts/base.twig' %}

{% block body %}

{% include 'components/navbar.twig' %}

    <main class="main-wrapper">
        {% include 'components/standard-row.twig' with {
            'header_title' : 'Consumer Electronics Retail Innovation', 
            'title': 'Project Overview',
            'text' : '<p>We were engaged to work with this global retail innovation team for a world-leading consumer electronics brand, to identify relevant insights that could be used to generate and identify new retail ideas to drive innovation and sales growth in key global markets. The project was run in three separate stages over a six month period and utilised our online virtualHOTHOUSE® system to bring together a virtual innovation team of 112 delegates based in 22 markets world-wide.</p>',
            'image_url' : 'assets/images/writing-828911_1920.jpg',
            'modifier' : 'standard-row__fifty standard-row__top-header standard-row__top-spacing standard-row__narrow-text standard-row__small-title standard-row__small-margin standard-row__small-gap-mobile' 
        } %}

        {% include 'components/basic-text.twig' with {
            'content' : {
                'copy1' : {
                    'title' : 'Our Approach',
                    'text' : '<p>The first stage of the project involved a collaborative insight sharing process using our virtualHOTHOUSE® system and our insightsBOX® tool. Over 300 “early insights” were shared by the global team covering different innovation pillars from retail display to in-store training. These early insights were then themed and refined by our team of copy editors, producing a final list of 60 insights that were then reevaluated by the global team to identify the leading winSIGHTS to take forward to stage 2.</p><p>The second stage of the project was driven by 4 Ideation Hothouse™ workshops held at a Global Retail Innovation conference in South Korea with over 100 delegates. Each Hothouse™ workshop was run by one of our creative facilitators who encouraged creative thinking linked to leading insights, combined with other creative thinking exercises.</p><p>In the final stage of the project, leading retail ideas were grouped into different themes and refined by our team of copy editors. A total of 40 leading mini-concepts were then evaluated by the global team in over 50 markets. This evaluation work identified 6 winning ideas that we then developed into full and final concepts, with drawings from our artists. This work was then concluded with a follow up “Action Planning Workshop” in South Korea where the concepts were further refined and developed into detailed action plans.</p>',
                },  
                'copy2' : {
                    'title' : 'Results',
                    'text' : '<p>The project produced over 400 early insights and ideas that were all captured using our online virtualHOTHOUSE® system. Refined insights and ideas were then evaluated to identify insights and ideas with greatest potential. From this work, the project identified “six ideas” that were developed into full concepts with drawings and detailed action plans. To date, all projects are on track to progress to in-market execution.</p>',
                }
            }
        } %}

        {% include 'components/quote.twig' with {
            'quote' : '“A highly successful project that engaged the creative talents of a large global team. It combined a clear strategic focus with fresh out-of-the-box thinking, to produce 6 winning concepts that are being progressed in key global markets.”' 
        } %}

        {% include 'components/transparent-cards.twig' with {
            'title' : 'More Case Studies',
            'cards' : {
                'item' : {
                    'image_url' : 'assets/images/writing-828911_1920.jpg',
                    'title' : 'Samsung Power Share',
                    'text' : 'We love this innovative new function of the Samsung Galaxy S10 which allows users to charge up their phones wirelessly using another well-charged device. Share the power!'
                },
            },
            'modifier' : 'transparent-cards__header-s-margin'
        } %}

        {% include 'components/footer-form.twig' %}
    </main class="main-wrapper">

{% include 'components/footer.twig' %} 

{% endblock %}
