{% extends 'layouts/base.twig' %}

{% block body %}

{% include 'components/navbar.twig' %}

    <main class="main-wrapper">
        {% include 'components/small-banner.twig' with {
            'image_url': 'assets/images/writing-828911_1920.jpg',
        } %}

        {% include 'components/transparent-cards.twig' with {
            'title' : 'Ideas and Product Innovation Case Studies',
            'url' : '/case-studies-internal.html',
            'text' : 'We are a specialist <span>new ideas and product innovation agency</span> that runs innovation projects for leading companies such as Johnson & Johnson, PepsiCo, Samsung, Mars, Beiersdorf and Danone. Take a look at the different case studies to get a feel for the different projects that we run, helping to innovation teams to generate winning ideas and drive new product innovation.', 
            'cards' : {
                'item' : {
                    'image_url' : 'assets/images/writing-828911_1920.jpg',
                    'title' : 'Samsung Power Share',
                    'text' : 'We love this innovative new function of the Samsung Galaxy S10 which allows users to charge up their phones wirelessly using another well-charged device. Share the power!'
                },
            }
        } %}

        {% include 'components/double-row-carousel.twig' with {
            'title': 'Companies And Brands Supported',
            'text' : 'We have worked world-wide with over 60 different brand innovation teams, running innovation workshops to drive new ideas and product innovation for leading companies such as Johnson & Johnson, PepsiCo, Samsung, Danone, Wal-Mart, Mars and Reckitt Benckiser.',
        } %}

        {% include 'components/footer-form.twig' %}
    </main class="main-wrapper">

{% include 'components/footer.twig' %} 

{% endblock %}