3{% extends 'layouts/base.twig' %}

{% block body %}

{% include 'components/navbar.twig' %}

    <main class="main-wrapper">
        {% include 'components/small-banner.twig' with {
            'image_url': 'assets/images/writing-828911_1920.jpg',
            'banner_with_text' : true,
            'title' : 'A specialist idea generation and product innovation agency'
        } %}

        {% include 'components/main-form.twig' %}

        {% include 'components/double-row-carousel.twig' with {
            'title' : 'Companies And Brands Supported',
            'text' : 'We have worked world-wide with over 60 different brand innovation teams, running innovation workshops to drive new ideas and product innovation for leading companies such as Johnson & Johnson, PepsiCo, Samsung, Danone, Wal-Mart, Mars and Reckitt Benckiser.',
            'modifier' : 'double-carousel__no-margin'
        } %}

        {% include 'components/modal.twig' %}

    </main class="main-wrapper">

{% include 'components/footer.twig' %} 

{% endblock %}