{% extends 'layouts/base.twig' %}

{% block body %}

{% include 'components/navbar.twig' %}

    <main class="main-wrapper">
        {% include 'components/standard-row.twig' with {
            'header_title' : 'Samsung Power Share',
            'header_text' : 'Take a look at this video for the Samsung Power Share. We were engaged to work with this global retail innovation team for a world-leading consumer electronics brand.',
            'title': 'The Idea',
            'text' : '<p>We were engaged to work with this global retail innovation team for a world-leading consumer electronics brand, to identify relevant insights that could be used to generate and identify new retail ideas to drive innovation and sales growth in key global markets. The project was run in three separate stages over a six month period and utilised our online virtualHOTHOUSE® system to bring together a virtual innovation team of 112 delegates based in 22 markets world-wide.</p>',
            'video' : true,
            'video_url' : 'https://player.vimeo.com/video/253989945?color=ef0800&title=0&byline=0&portrait=0', 
            'modifier' : 'standard-row__fifty standard-row__top-header standard-row__top-spacing standard-row__narrow-text standard-row__small-title standard-row__small-margin standard-row__small-gap-mobile standard-row__mobile-invert' 
        } %}

        {% include 'components/basic-text.twig' with {
            'content' : {
                'copy1' : {
                    'title' : 'Why we like it',
                    'text' : '<p>The first stage of the project involved a collaborative insight sharing process using our virtualHOTHOUSE® system and our insightsBOX® tool. Over 300 “early insights” were shared by the global team covering different innovation pillars from retail display to in-store training. These early insights were then themed and refined by our team of copy editors, producing a final list of 60 insights that were then reevaluated by the global team to identify the leading winSIGHTS to take forward to stage 2.</p>',
                },  
            }
        } %}

        {% include 'components/transparent-cards.twig' with {
            'title' : 'More Ideas We Like',
            'cards' : {
                'item' : {
                    'image_url' : 'assets/images/writing-828911_1920.jpg',
                    'title' : 'Samsung Power Share',
                    'text' : 'We love this innovative new function of the Samsung Galaxy S10 which allows users to charge up their phones wirelessly using another well-charged device. Share the power!'
                },
            },
            'modifier' : 'transparent-cards__header-s-margin'
        } %}

        {% include 'components/footer-form.twig' %}
    </main class="main-wrapper">

{% include 'components/footer.twig' %} 

{% endblock %}
