{% extends 'layouts/base.twig' %}

{% block body %}

{% include 'components/navbar.twig' %}

    <main class="main-wrapper">
        {% include 'components/small-banner.twig' with {
            'image_url': 'assets/images/writing-828911_1920.jpg',
        } %}

        {% include 'components/transparent-cards.twig' with {
            'title' : 'Creativity and Innovation - Ideas We like',
            'url' : '/ideas-we-like-internal.html',
            'text' : 'As a specialist creativity and innovation agency, we are passionate about helping our clients develop new, innovative ideas that are compelling and distinctive. We work globally with leading brands, and we are always looking to generate new innovative ideas for products and services that are truly creative, stand out from the crowd, and that drive business growth. Take a look at some examples of “winning ideas” that we have pulled together, some are old and some are new. Read the idea, watch the TV ads and discover why we like them.', 
            'cards' : {
                'item' : {
                    'image_url' : 'assets/images/writing-828911_1920.jpg',
                    'title' : 'Samsung Power Share',
                    'text' : 'We love this innovative new function of the Samsung Galaxy S10 which allows users to charge up their phones wirelessly using another well-charged device. Share the power!'
                },
            }
        } %}

        {% include 'components/footer-form.twig' %}
    </main class="main-wrapper">

{% include 'components/footer.twig' %} 

{% endblock %}
