{% extends 'layouts/base.twig' %}

{% block body %}

{% include 'components/navbar.twig' %}

    <main class="main-wrapper">
        {% include 'components/full-page-banner.twig' %}

        {% include 'components/standard-row.twig' with {
            'title': 'Ideas First® Creativity and Innovation',
            'text' : '<p>Ideas First® is a specialist creativity and innovations agency. We work globally with leading brands to generate, refine and identify winning insights and ideas linked to agreed innovation objectives. All projects are supported by our team of Creative Agents, Trend Scouts, Creative Facilitators, Copy Editors, Artists, and our online innovation platforms, virtualHOTHOUSE® and Zip-Zap Ideas®. Keep scrolling to find our more, or watch a short video of our insights driven approach in action.</p>',
            'video' : true,
            'video_url' : 'https://player.vimeo.com/video/253989945?color=ef0800&title=0&byline=0&portrait=0',
            'button' : true,
            'modifier' : 'standard-row__medium-margin standard-row__lower-video'
        } %}

        {% include 'components/double-row-carousel.twig' with {
            'title': 'Companies And Brands Supported',
            'text' : 'We have worked world-wide with over 60 different brand innovation teams, running innovation workshops to drive new ideas and product innovation for leading companies such as Johnson & Johnson, PepsiCo, Samsung, Danone, Wal-Mart, Mars and Reckitt Benckiser.',
            'id' : 'ourclients'
        } %}

        {% include 'components/resources-repeater.twig' with {
            'title': 'Our Work For Winning Ideas',
            'text' : 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.',
            'cards' : {
                'item' : {
                    'image_url' : 'https://via.placeholder.com/480x250',
                    'title' : 'Winning Ideas to Grow Your Business',
                    'text' : 'We develop winning ideas by using a focused and insights-driven approach that is supported by our team of Trend Scouts, Creative Agents, Copy Editors, and online collaboration tools.'
                },
            },
            'id' : 'ourwork'
        } %}

        {% include 'components/footer-form.twig' %}
    </main class="main-wrapper">

{% include 'components/footer.twig' %} 

{% endblock %}
