{% extends 'layouts/base.twig' %}

{% block body %}

{% include 'components/navbar.twig' %}

    <main class="main-wrapper">
        {% include 'components/small-banner.twig' with {
            'image_url': 'assets/images/writing-828911_1920.jpg',
        } %}

        {% include 'components/meet-the-team.twig' with {
            'cards' : {
                'item' : {
                    'image_url' : 'https://via.placeholder.com/140x190',
                    'name' : 'Michael Simpson',
                    'job' : 'Chief Ideas Guru',
                    'description' : 'Michael is our “Chief Ideas Guru” with over 30 years of branding and innovation experience from P&G, PwC and J&J. He founded Ideas First® in 2000 and is passionate about helping companies generate new ideas to drive growth.'
                },
            }
        } %}

        {% include 'components/double-row-carousel.twig' with {
            'title': 'Companies And Brands Supported',
            'text' : 'We have worked world-wide with over 60 different brand innovation teams, running innovation workshops to drive new ideas and product innovation for leading companies such as Johnson & Johnson, PepsiCo, Samsung, Danone, Wal-Mart, Mars and Reckitt Benckiser.',
        } %}

        {% include 'components/footer-form.twig' %}
    </main class="main-wrapper">

{% include 'components/footer.twig' %} 

{% endblock %}