{% extends 'layouts/base.twig' %}

{% block body %}

{% include 'components/navbar.twig' %}

    <main class="main-wrapper">
        {% include 'components/standard-row.twig' with {
            'header_title': 'Winning Ideas to Grow Your Business',
            'header_text': 'We develop winning ideas by using a focused and insights-driven approach that is supported by our team of Trend Scouts, Creative Agents, Copy Editors, and online collaboration tools.',
            'text' : '<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.</p>',
            'video' : true,
            'video_url' : 'https://player.vimeo.com/video/253989945?color=ef0800&title=0&byline=0&portrait=0',
            'modifier' : 'standard-row__fifty standard-row__top-header standard-row__top-spacing standard-row__mobile-invert standard-row__small-gap' 
        } %}

        {% include 'components/resources-repeater.twig' with {
            'title': 'More of What We Do',
            'cards' : {
                'item' : {
                    'image_url' : 'https://via.placeholder.com/480x250',
                    'title' : 'Winning Ideas to Grow Your Business',
                    'text' : 'We develop winning ideas by using a focused and insights-driven approach that is supported by our team of Trend Scouts, Creative Agents, Copy Editors, and online collaboration tools.'
                },
            },
            'modifier' : 'resources-repeater__header-s-margin'
        } %}

        {% include 'components/footer-form.twig' %}
    </main class="main-wrapper">

{% include 'components/footer.twig' %} 

{% endblock %}