{% extends 'layouts/base.twig' %}

{% block body %}

{% include 'components/navbar.twig' %}

    <main class="main-wrapper">
        {% include 'components/video-banner.twig' %}
        
        {% include 'components/break-up.twig' %}

        {% include 'components/standard-row.twig' with {
            'header_title' : 'Brainstorming Ideas With Virtual Teams',
            'text' : '<p>Zip-Zap Ideas® gives innovation teams a simple and easy way to brainstorm ideas linked to a specific challenge. A great tool for virtual brainstorming meetings, ideation workshops or for individual on-the-go brainstorming tasks - that’s the “ZIP”.</p><p>Zip-Zap Ideas® also provides a fast and effective way to refine and evaluate leading ideas with target customers and key stakeholders, to identify the “winning ideas” with greatest potential - that’s the “ZAP”.</p><p>Watch the short movie to see how virtual teams use Zip-Zap Ideas® to brainstorm and refine new ideas, with the option of evaluating leading ideas with target customers. Create your own projects today with our FREE Starter Package.</p>',
            'video' : true,
            'video_url' : 'https://player.vimeo.com/video/253989945?color=ef0800&title=0&byline=0&portrait=0', 
            'modifier' : 'standard-row__fifty standard-row__top-header standard-row__narrow-text standard-row__header-s-margin' 
        } %}

        {% include 'components/break-up.twig' with {
            'title': 'Zip-Zap in Six Steps',
        } %}

        {% include 'components/six-steps.twig' with {
            'boxes' : {
                'item1' : {
                    'image_url' : 'https://via.placeholder.com/68x45',
                    'title' : 'Define your <strong>Innovation Challenge</strong>',
                    'text' : 'Provides virtual teams with a simple and easy way too to share new ideas linked to a specific innovation challenge in webex meetings or for on-the-go brainstorming.',
                },  
                'item2' : {
                    'image_url' : 'https://via.placeholder.com/37x60',
                    'title' : 'Ask your team to <strong>ZIP New Ideas</strong>',
                    'text' : 'Provides virtual teams with a simple and easy way too to share new ideas linked to a specific innovation challenge in webex meetings or for on-the-go brainstorming.',
                },
                'item3' : {
                    'image_url' : 'https://via.placeholder.com/69x41',
                    'title' : 'Highlight <strong>Early Favourites</strong>',
                    'text' : 'Provides virtual teams with a simple and easy way too to share new ideas linked to a specific innovation challenge in webex meetings or for on-the-go brainstorming.',
                },
                'item4' : {
                    'image_url' : 'https://via.placeholder.com/53x53',
                    'title' : 'Group and <strong>Refine Leading Ideas</strong>',
                    'text' : 'Provides virtual teams with a simple and easy way too to share new ideas linked to a specific innovation challenge in webex meetings or for on-the-go brainstorming.',
                },
                'item5' : {
                    'image_url' : 'https://via.placeholder.com/67x45',
                    'title' : 'Invite Others to <strong>ZAP Refined Ideas</strong>',
                    'text' : 'Provides virtual teams with a simple and easy way too to share new ideas linked to a specific innovation challenge in webex meetings or for on-the-go brainstorming.',
                },
                'item6' : {
                    'image_url' : 'https://via.placeholder.com/67x56',
                    'title' : 'Identify Winning Ideas <strong>To Take Forward</strong>',
                    'text' : 'Provides virtual teams with a simple and easy way too to share new ideas linked to a specific innovation challenge in webex meetings or for on-the-go brainstorming.',
                }
            }
        } %}
        
        {% include 'components/carousel-resources.twig' %} 

        {% include 'components/double-row-carousel.twig' with {
            'title': 'Organisations Already Talking Zip-Zap Ideas®',
            'modifier' : 'double-carousel__no-margin'
        } %}

        {% include 'components/info-cards.twig' %}

    </main class="main-wrapper">

{% include 'components/footer.twig' %} 

{% endblock %}