<div class="break-up__wrapper">
    <div class="wrapper-small">
        <section class="break-up">
            
            <div class="break-up__image">
                <img class="break-up__img" src="https://via.placeholder.com/680x40">
            </div>
        </section>
    </div>
</div>