<footer class="u-footer">
    <div class="u-footer__top">
        <div class="u-footer__container">
            <div class="u-footer__row d-flex d-flex-wrap">
                <div class="u-footer__column">
                    <h3 class="u-footer__title text-link color-green f-600">PAGES</h3>
                    <ul class="u-footer__list list-reset">
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Ideas First</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Our Work</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Our Team</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Our Clients</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Case Studies</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Ideas We Like</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Zip-Zap Ideas®</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="u-footer__column">
                    <h3 class="u-footer__title text-link color-green f-600">WHAT WE DO</h3>
                    <ul class="u-footer__list list-reset">     
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Generate Winning Ideas</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Deeper Insights and Trends</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Virtual Innovation Teams</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Online Brainstorming Workshops</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Consumer Innovation Labs™</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">fastSCREEN™ Consumer Panels</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Ideas Hothouse™ Workshops</a>
                        </li>
                        <li class="u-footer__item">
                            <a class="u-footer__link text-small color-white f-heading f-400" href="#" target="">Creative Facilitation Training</a>
                        </li>
                    </ul>
                </div>
                <div class="u-footer__column">
                    <div class="u-footer__copy">
                        <h3 class="u-footer__title text-link color-green f-600">ABOUT</h3>
                        <p class="u-footer__text text-small color-white f-heading f-400">Ideas First® is a specialist idea generation and “front-end” product innovation agency founded in 2000. We work worldwide with leading companies to generate, refine and identify winning insights, ideas, and claims</p>
                    </div>
                </div>
                <div class="u-footer__column">
                    <div class="u-footer__copy">
                        <h3 class="u-footer__title text-link color-green f-600">SOCIAL</h3>
                        <p class="u-footer__text u-footer text-small color-white f-heading f-400">Contact us to find out how we can help you generate new insights and ideas to grow your brand or business.</p>
                        <div class="u-footer__socials d-flex">
                            <a class="u-footer__circle" href="#" target="">
                                <img class="u-footer__img" src="assets/images/svg/twitter.svg">
                            </a>
                            <a class="u-footer__circle" href="#" target="">
                                <img class="u-footer__img" src="assets/images/svg/linkedin.svg">
                            </a>
                            <a class="u-footer__circle" href="#" target="">
                                <img class="u-footer__img" src="assets/images/svg/email.svg">
                            </a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="u-footer__bottom">
        <div class="u-footer__container">
            <div class="u-footer__rights u-text-center color-white f-heading f-400 text-small">© Ideas First® LLP 2021. All Rights reserved. | Specialist Product Innovation Agency</div>
        </div>
    </div>
</footer>
