<div class="u-modal__wrapper modal" id="u-modal__wrapper">
    <div class="u-modal">
        <div class="u-modal__title">Privacy Policy</div>
        <h3>Why do we need your personal information?</h3>
        <p>The information you provide will only be used by us in response to your direct request for information. Your information will only be used or seen by employees or associates of Ideas First®, and will NOT be shared or sold to any third party.</p>
   
        <h3>What data do we hold about you?</h3>
        <p>We only need and hold the minimum amount of information to allow us to respond to your information request. This includes your name, your email address, your company details and details about your specific request for information.</p>

   
        <h3>What will we do with the information we hold about you?</h3>
        <p>We will keep your email details in a secure database, and we will only contact you in the future to advise you about any new products and services that we offer and that we feel are linked to your initial request for information.</p>

        <h3>How can you delete your details / exercise your right to be forgotten?</h3>
        <p>You can ask for your personal details to be removed at any time by sending us an email, or in response to any emails that you receive from us. We will then remove your details from our database within 2 working days.</p>  
    
        <h3>How do we ensure your information is accurate and up to date?</h3>
        <p>We rely on the information that you provide in your initial request.</p>  
    
        <h3>Further information</h3>
        <p>For further information on how your personal data is used, how we maintain security of your information and your rights to access the information we hold on you, please contact our Data Controller:</p>  
    
        <p>Michael Simpson <a href="mailto:innovate@ideasfirst.net">innovate@ideasfirst.net</a></p> 
    </div>
</div>