<div class="d-quote__wrapper">
    <div class="wrapper-small">
        <section class="d-quote">
            <blockquote class="d-quote__container">
                <p class="d-quote__text f-italic text-quote color-green u-text-center"></p>
            </blockquote>
        </section>
    </div>
</div>