<div class="resources-repeater__wrapper " >
    <div class="wrapper-full">
        <section class="resources-repeater">
            <div class="resources-repeater__header u-text-center">
                
                
            </div>
            <div class="resources-repeater__cards d-flex d-flex-wrap">
                
                
                    <a class="resources-repeater__item d-flex" href="#" target="">
                        <div class="resources-repeater__box resources-repeater__image">
                            <img class="resources-repeater__img fit-cover lazy" data-src="">
                        </div>
                        <div class="resources-repeater__box resources-repeater__content d-flex">
                            <div class="resources-repeater__copy">
                                <h3 class="resources-repeater__copy__title text-resources"></h3>
                                <p class="resources-repeater__copy__text text-small"></p>
                            </div>
                            <div class="resources-repeater__link text-link f-heading f-600 color-green">WATCH VIDEO</div>    
                        </div>
                    </a>
                
                    <a class="resources-repeater__item d-flex" href="#" target="">
                        <div class="resources-repeater__box resources-repeater__image">
                            <img class="resources-repeater__img fit-cover lazy" data-src="">
                        </div>
                        <div class="resources-repeater__box resources-repeater__content d-flex">
                            <div class="resources-repeater__copy">
                                <h3 class="resources-repeater__copy__title text-resources"></h3>
                                <p class="resources-repeater__copy__text text-small"></p>
                            </div>
                            <div class="resources-repeater__link text-link f-heading f-600 color-green">WATCH VIDEO</div>    
                        </div>
                    </a>
                
                    <a class="resources-repeater__item d-flex" href="#" target="">
                        <div class="resources-repeater__box resources-repeater__image">
                            <img class="resources-repeater__img fit-cover lazy" data-src="">
                        </div>
                        <div class="resources-repeater__box resources-repeater__content d-flex">
                            <div class="resources-repeater__copy">
                                <h3 class="resources-repeater__copy__title text-resources"></h3>
                                <p class="resources-repeater__copy__text text-small"></p>
                            </div>
                            <div class="resources-repeater__link text-link f-heading f-600 color-green">WATCH VIDEO</div>    
                        </div>
                    </a>
                
                    <a class="resources-repeater__item d-flex" href="#" target="">
                        <div class="resources-repeater__box resources-repeater__image">
                            <img class="resources-repeater__img fit-cover lazy" data-src="">
                        </div>
                        <div class="resources-repeater__box resources-repeater__content d-flex">
                            <div class="resources-repeater__copy">
                                <h3 class="resources-repeater__copy__title text-resources"></h3>
                                <p class="resources-repeater__copy__text text-small"></p>
                            </div>
                            <div class="resources-repeater__link text-link f-heading f-600 color-green">WATCH VIDEO</div>    
                        </div>
                    </a>
                
                    <a class="resources-repeater__item d-flex" href="#" target="">
                        <div class="resources-repeater__box resources-repeater__image">
                            <img class="resources-repeater__img fit-cover lazy" data-src="">
                        </div>
                        <div class="resources-repeater__box resources-repeater__content d-flex">
                            <div class="resources-repeater__copy">
                                <h3 class="resources-repeater__copy__title text-resources"></h3>
                                <p class="resources-repeater__copy__text text-small"></p>
                            </div>
                            <div class="resources-repeater__link text-link f-heading f-600 color-green">WATCH VIDEO</div>    
                        </div>
                    </a>
                
                    <a class="resources-repeater__item d-flex" href="#" target="">
                        <div class="resources-repeater__box resources-repeater__image">
                            <img class="resources-repeater__img fit-cover lazy" data-src="">
                        </div>
                        <div class="resources-repeater__box resources-repeater__content d-flex">
                            <div class="resources-repeater__copy">
                                <h3 class="resources-repeater__copy__title text-resources"></h3>
                                <p class="resources-repeater__copy__text text-small"></p>
                            </div>
                            <div class="resources-repeater__link text-link f-heading f-600 color-green">WATCH VIDEO</div>    
                        </div>
                    </a>
                
                    <a class="resources-repeater__item d-flex" href="#" target="">
                        <div class="resources-repeater__box resources-repeater__image">
                            <img class="resources-repeater__img fit-cover lazy" data-src="">
                        </div>
                        <div class="resources-repeater__box resources-repeater__content d-flex">
                            <div class="resources-repeater__copy">
                                <h3 class="resources-repeater__copy__title text-resources"></h3>
                                <p class="resources-repeater__copy__text text-small"></p>
                            </div>
                            <div class="resources-repeater__link text-link f-heading f-600 color-green">WATCH VIDEO</div>    
                        </div>
                    </a>
                
                    <a class="resources-repeater__item d-flex" href="#" target="">
                        <div class="resources-repeater__box resources-repeater__image">
                            <img class="resources-repeater__img fit-cover lazy" data-src="">
                        </div>
                        <div class="resources-repeater__box resources-repeater__content d-flex">
                            <div class="resources-repeater__copy">
                                <h3 class="resources-repeater__copy__title text-resources"></h3>
                                <p class="resources-repeater__copy__text text-small"></p>
                            </div>
                            <div class="resources-repeater__link text-link f-heading f-600 color-green">WATCH VIDEO</div>    
                        </div>
                    </a>
                
            </div>
        </div>
    </div>
</div>