<div class="six-steps__wrapper">
    <div class="wrapper-full">
        <section class="six-steps">
            <div class="six-steps__grid">

                
                
                
            </div>
        </section>
    </div>
</div>