<div class="small-banner__wrapper">
    <section class="small-banner" style="background-image: url()">
        <div class="small-banner__dark"></div>
        <div class="small-banner__container d-flex">
            
        </div>
        
    </section>
</div>