<div class="transparent-cards__wrapper ">
    <div class="wrapper-full">
        <section class="transparent-cards">
            <div class="transparent-cards__header u-text-center">
                
                
            </div>
            <div class="transparent-cards__container d-flex d-flex-wrap">
                
                
                    <a class="transparent-cards__box d-flex" href="" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team"></h3>
                                <p class="transparent-cards__box__text text-body"></p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                
                    <a class="transparent-cards__box d-flex" href="" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team"></h3>
                                <p class="transparent-cards__box__text text-body"></p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                
                    <a class="transparent-cards__box d-flex" href="" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team"></h3>
                                <p class="transparent-cards__box__text text-body"></p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                
                    <a class="transparent-cards__box d-flex" href="" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team"></h3>
                                <p class="transparent-cards__box__text text-body"></p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                
                    <a class="transparent-cards__box d-flex" href="" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team"></h3>
                                <p class="transparent-cards__box__text text-body"></p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                
                    <a class="transparent-cards__box d-flex" href="" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team"></h3>
                                <p class="transparent-cards__box__text text-body"></p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                
                    <a class="transparent-cards__box d-flex" href="" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team"></h3>
                                <p class="transparent-cards__box__text text-body"></p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                
                    <a class="transparent-cards__box d-flex" href="" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team"></h3>
                                <p class="transparent-cards__box__text text-body"></p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                
                    <a class="transparent-cards__box d-flex" href="" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team"></h3>
                                <p class="transparent-cards__box__text text-body"></p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                
                    <a class="transparent-cards__box d-flex" href="" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team"></h3>
                                <p class="transparent-cards__box__text text-body"></p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                
                    <a class="transparent-cards__box d-flex" href="" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team"></h3>
                                <p class="transparent-cards__box__text text-body"></p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                
                    <a class="transparent-cards__box d-flex" href="" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team"></h3>
                                <p class="transparent-cards__box__text text-body"></p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                
                    <a class="transparent-cards__box d-flex" href="" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team"></h3>
                                <p class="transparent-cards__box__text text-body"></p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                
            </div>
        </section>
    </div>
</div>