<div class="video-banner__wrapper">
    <div class="wrapper-full">
        <section class="video-banner d-flex d-flex-wrap">
            <div class="video-banner__box video-banner__copy">
                <div class="video-banner__content">
                    <h2 class="video-banner__title banner-heading-2 color-white f-700">Zip-Zap Ideas® Online Brainstorming</h2>
                    <p class="video-banner__text text-body color-white">Zip-Zap Ideas® is an online brainstorming tool that provides a simple and easy way to develop and evaluate new ideas linked to a specific challenge. For virtual teams, online meetings and innovation workshops. Includes added features to get fast feedback from target customers, to identify ideas with greatest potential</p>
                    <a class="video-banner__cta u-btn--white" target="">See Zip-Zap Ideas in Action</a>
                </div>
            </div>
            <div class="video-banner__box video-banner__media">
                <div class="video-banner__responsive">
                    <iframe src="https://player.vimeo.com/video/253989945?color=ef0800&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </section>
    </div>
</div>