// ==========================================================================
// # BASIC TEXT / PARTIAL
// ==========================================================================

.basic-text__wrapper {
    margin-bottom: 30px;

    @include bp(small) {
        margin-bottom: 50px;
    }

    @include bp(medium) {
        margin-bottom: 80px;
    }
} 

.basic-text__copy {
    margin-bottom: 16px;

    @include bp(medium) {
        margin-bottom: 32px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.basic-text__title {
    margin-bottom: 16px;
}

.basic-text__text {
    p {
        margin-bottom: 20px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}