.break-up__header {
    margin: 0 auto 30px auto;
    text-align: center;

    @include bp(small) {
        margin: 0 auto 50px auto;
    }
}

.break-up__image {
    display: none;
    max-width: 680px;
    margin: 0 auto 50px auto;

    @include bp(xlarge) {
        display: block;
    }
}

.break-up__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}