// ==========================================================================
// # CAROUSEL RESOURCES / PARTIAL
// ==========================================================================

.carousel-resources__wrapper {
    padding: 30px 0;
    background: transparent linear-gradient(69deg, $color-bg-green-6 0%, $color-bg-blue 100%);

    @include bp(small) {
        padding: 50px 0;
    }

    @include bp(xlarge) {
        padding: 70px 0;
    }
}

.carousel-resources {
    position: relative;
}

.carousel-resources__header {
    margin: 0 auto 32px auto;
    text-align: center;
}

.carousel-resources__container {
    margin-right: -20px;
    
    @include bp(small) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    @include bp(large) {
        margin-bottom: 50px;
    }

    @include bp(xlarge) {
        margin-bottom: 0;
    }
}

.carousel-resources__item {
    @include bp-down(small) {
        width: 280px !important;
    }
}

.carousel-resources__content {
    flex-direction: column;
    align-items: center;
}

.carousel-resources__image,
.carousel-resources__caption {
    margin-bottom: 16px;
}

// Navigation

.carousel-resources__navigation {
    display: none;

    @include bp(small) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include bp(xlarge) {
        display: block;
    }
}

.carousel-resources__button {
    background-color: $transparent-white;
    padding: 20px;
    border-radius: $circle;
    align-items: center;
    justify-content: center;
    margin: 0 15px;

    @include bp(xlarge) {
        position: absolute;
        padding: 15px;
        top: 50%;
        cursor: pointer;
    }
}

.carousel-resources__left {
    left: 0;

    @include bp(xlarge) {
        left: -50px;
        transform: translateX(-100%);
    }
}

.carousel-resources__right {
    right: 0;

    @include bp(xlarge) {
        right: -50px;
        transform: translateX(100%);
    }
}

.carousel-resources__arrow {
    display: block;
    position: relative;
    z-index: $z-lvl-1;
    width: 18px;
    height: 18px;
    
    @include bp(xlarge) {
        width: 12px;
        height: 12px;
    }
}