// ==========================================================================
// # DOUBLE ROW CAROUSEL / PARTIAL
// ==========================================================================

.double-carousel__wrapper {
    background-color: $color-bg-gray;
    padding: 60px 0;
    margin-bottom: 30px;

    @include bp(small) {
        margin-bottom: 50px;
    }

    @include bp(medium) {
        margin-bottom: 70px;
    }
}

.double-carousel__header {
    max-width: 775px;
    margin: 0 auto 60px auto;

    @include bp(medium) {
        margin: 0 auto 40px auto;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.double-carousel__title {
    margin-bottom: 16px;
}

.double-carousel__content {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.double-carousel__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: calc(25% - 40px);
}

.double-carousel__img {
    max-width: 100px;
    max-height: 60px;

    @include bp(medium) {
        max-width: 150px;
        max-height: 90px;
    }
}

.double-carousel__button {
    transition: $global-transition;
    opacity: 1;

    @include bp(xlarge) {
        cursor: pointer;
    }
    
    &.swiper-button-disabled {
        opacity: 0.4;
    }
}

.double-carousel__left {
    padding-right: 10px;

    @include bp(medium) {
        padding-right: 35px;
    }
}

.double-carousel__right {
    padding-left: 10px;

    @include bp(medium) {
        padding-left: 35px;
    }
}

.double-carousel__arrow {
    width: 20px;
    height: 45px;

    @include bp(medium) {
        width: 45px;
        height: 45px;
    }
}

// Modifier

.double-carousel__no-margin {
    margin-bottom: 0;
}