// ==========================================================================
// # FOOTER / STATIC
// ==========================================================================

.u-footer__top {
    padding: 40px 20px 20px;
    background-color: $color-bg-black;
    
    @include bp(medium) {
        padding: 40px 44px;
    }
    
    @include bp(xlarge) {
        padding: 70px 44px;
    }
}

.u-footer__container {
    max-width: 1172px;
    margin: 0 auto;
}

.u-footer__row {
    @include bp(large) {
        margin: 0 -8px;
    }
}

.u-footer__column {
    width: 100%;
    width: 50%;
    margin: 0 0 50px 0;
    text-align: left;

    &:last-child {
        margin: 0;
    }

    @include bp(medium) {
        text-align: left;
    }
    
    @include bp(large) {
        margin: 0 8px;
        width: calc(25% - 16px);

        &:last-child {
            margin: 0 8px;
        }
    }
}

.u-footer__title {
    margin-bottom: 18px;
}

.u-footer__list {
    padding: 0;
    margin: 0;

    @include bp(large) {
        padding: 7px 0 0 0;
    }
}

.u-footer__item {
    @extend .line-big;
}

.u-footer__link:hover {
    @include bp(xlarge) {
        text-decoration: underline;
    }
}

.u-footer__copy {
    max-width: 300px;
    margin: 0 auto;

    @include bp(medium) {
        margin: 0;
    }
    
    @include bp(large) {
        max-width: none;
    }
}

.u-footer__socials {
    padding-top: 16px;
    justify-content: center;

    @include bp(medium) {
        justify-content: flex-start;
    }
}

.u-footer__circle {
    display: block;
    margin-right: 11px;
    padding: 7px;
    background-color: $color-bg-green;
    border-radius: $circle;
    transition: $global-transition;

    &:last-of-type {
        margin-right: 0;
    }
}

.u-footer__circle:hover {
    @include bp(xlarge) {
        background-color: $color-bg-green-4;
    }
}

.u-footer__img {
    width: 12px;
    height: 12px;
    display: block;
}

.u-footer__bottom {
    padding: 20px 20px;
    background-color: $color-bg-green;
    
    @include bp(medium) {
        padding: 20px 44px;
    }
    
    @include bp(xlarge) {
        padding: 32px 44px;
    }
}