// ==========================================================================
// # FOOTER FORM / PARTIAL
// ==========================================================================

.footer-form__wrapper {
    margin-bottom: 32px;

    @include bp(small) {
        margin-bottom: 50px;   
    }

    @include bp(medium) {
        margin-bottom: 80px;
    }
}

.footer-form__header {
    max-width: 579px;
    margin: 0 auto 30px auto;
    
    @include bp(small) {
        margin: 0 auto 50px auto;  
    }
}

.footer-form__title {
    margin-bottom: 20px;
}

.footer-form__form {
    flex-direction: column;
    align-items: center;
}

.footer-form__contact {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;

    @include bp(small) {
        margin-bottom: 32px;
    }

    @include bp(medium) {
        width: 80%;
    }

    @include bp(large) {
        width: 100%;
        flex-direction: row;
        margin: 0 -8px 20px 0;
    }
}

.footer-form__fields {
    width: 100%;

    @include bp(large) {
        width: 60%;
    }
}

.footer-form__content {
    width: 100%;
    margin-bottom: 16px;

    @include bp(large) {
        width: calc(50% - 16px);
        margin: 10px 8px;
    }
}

.footer-form__input {
    width: 100%;
}

.footer-form__area {
    width: 100%;
    height: 120px;

    @include bp(large) {
        width: calc(40% - 16px);
        margin: 8px;
        height: auto;
    }
}

.footer-form__textarea {
    width: 100%;
    height: 100%;
    padding: 16px;
}

.footer-form__recaptcha {
    width: 293px;
    max-width: 100%;
    height: 70px;
    border: 1px solid $color-border-gray;
    box-shadow: 1px 1px 3px 1px #D1D1D1;
    margin-bottom: 16px;
    align-self: flex-start;
    
    @include bp(small) {
        align-self: auto;
        margin-bottom: 21px;
    }
}

.footer-form__button,
.footer-form__submit {
    width: 100%;

    @include bp(small) {
        width: auto;
    }
}