// ==========================================================================
// # FULL PAGE BANNER / PARTIAL
// ==========================================================================

.full-banner__wrapper {
    margin-bottom: 70px;

    @include bp(medium) {
        margin-bottom: 110px;
    }
}

.full-banner {
    position: relative;
}

.full-banner__circle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 28px;
    background-color: $color-bg-green;
    z-index: $z-lvl-3;
    border-radius: $circle;
    cursor: pointer;
}

.full-banner__arrow {
    max-width: 30px;
    max-height: 25px;
    display: block;
}

.full-banner__dark {
    position: absolute;
    left: 0;
    top: 0;
    z-index: $z-lvl-1;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, transparent 0%, $color-bg-black-2 100%);
    opacity: 0.75;
}

.full-banner__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.full-banner__container {
    position: relative;
    z-index: $z-lvl-2;
    padding: 60px 20px;
    align-items: flex-start;
    height: calc((var(--vh, 1vh) * 100) - 105px);

    @include bp(small) {
        align-items: center;
        padding: 0 44px;
    }

    @include bp(xlarge) {
        padding: 0 150px;
        height: calc((var(--vh, 1vh) * 100) - 125px);
    }
}

.full-banner__container--80 {
    height: calc((var(--vh, 1vh) * 80) - 105px);

    @include bp(xlarge) {
        height: calc((var(--vh, 1vh) * 80) - 125px);
    }
}

.full-banner__container--90 {
    height: calc((var(--vh, 1vh) * 90) - 105px);

    @include bp(xlarge) {
        height: calc((var(--vh, 1vh) * 90) - 125px);
    }
}

.full-banner__container--100 {
    height: calc((var(--vh, 1vh) * 100) - 105px);

    @include bp(xlarge) {
        height: calc((var(--vh, 1vh) * 100) - 125px);
    }
}

.full-banner__content {
    max-width: 490px;

    @include bp(large) {
        padding-bottom: 50px;
        max-width: 578px;
    }

    @include bp(xlarge) {
        max-width: 675px;
    }

    @include bp(full) {
        max-width: 578px;
    }
}

.full-banner__title {
    margin-bottom: 24px;
}

.full-banner__text {
    margin-bottom: 36px;
}

.full-banner__line {
    white-space: nowrap;
    display: block;
    width: 100%;

    @include bp(medium) {
        display: inline;
        width: unset;
    }
}

.full-banner__break {
    display: none;
    white-space: nowrap;

    @include bp(medium) {
        display: inline;
    }
}

.full-banner__btn {
    width: 100%;
    font-size: 15px;

    @include bp(small) {
        width: auto;
    }

    @include bp(medium) {
        font-size: 18px;
    }
}

