.info-cards__wrapper {
    background: linear-gradient(106deg, $color-bg-blue-2 0%, $color-bg-blue-3 100%);
    padding: 55px 0;
    
    @include bp(large) {
        padding: 50px 0;

    }
}

.info-cards__row {
    @include bp(large) {
        margin: 0 -8px;
    }
}

.info-cards__box {
    background-color: $color-bg-white;
    padding: 29px;
    align-items: center;
    margin-bottom: 16px;
    flex-direction: column;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }

    @include bp(medium) {
        flex-direction: row;
        padding: 40px;
    }

    @include bp(large) {
        width: calc(50% - 16px);
        margin: 8px;

        &:last-child {
            margin: 8px;
        }
    }
}

.info-cards__segment {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;

    @include bp(small) {
        justify-content: unset;
    }
    
    @include bp(medium) {
        flex: 1;
        margin-bottom: 0;
    }

    @include bp(large) {
        width: 25%;
        flex: unset;
    }
}

.info-cards__circle {
    height: 100px;
    width: 100px;
    border-radius: $circle;
    box-shadow: 0px 0px 16px $gray-shadow;
    padding: 20px 16px;
}

.info-cards__img {
    max-width: 100%;
}

.info-cards__content {
    width: 100%;

    *:last-child {
        margin-bottom: 0;
    }

    @include bp(medium) {
        flex: 8;
        padding-left: 24px;
    }
    
    @include bp(large) {
        width: 75%;
        flex: unset;
    }
}

.info-cards__copy,
.info-cards__title {
    margin-bottom: 16px;
    text-align: center;

    @include bp(small) {
        text-align: left;
    }
}

.info-cards__button {
    display: flex;
    justify-content: center;

    @include bp(small) {
        justify-content: flex-start;
    }
}