.main-form__wrapper {
    margin-bottom: 30px;

    @include bp(small) {
        margin-bottom: 50px;
    }

    @include bp(medium) {
        margin-bottom: 80px;
    }
}

.main-form__header {
    max-width: 775px;
    margin: 0 auto 30px auto;

    @include bp(small) {
        margin: 0 auto 50px auto;
    }

    @include bp(medium) {
        margin: 0 auto 80px auto;
    }
}

.main-form__copy {
    p {
        margin-bottom: 20px;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.main-form__contact {
    flex-direction: column;
    align-items: center;

    @include bp(xlarge) {
        flex-direction: row;
        align-items: unset;
    }
}

.main-form__textfields {
    width: 100%;
    margin-bottom: 16px;

    @include bp(medium) {
        width: 80%;
        margin-bottom: 32px;
    }

    @include bp(xlarge) {
        width: 39%;
        margin-bottom: 0;
    }
}

.main-form__content {
    margin-bottom: 20px;
}

.main-form__content:last-child {
    margin-bottom: 0;
}

.main-form__input {
    width: 100%;
}

.main-form__textarea {
    height: 120px;
}

.main-form__link {
    color: $color-text-green;
    text-decoration: underline;
}

.main-form__checkup {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    @include bp(medium) {
        width: 80%;
    }

    @include bp(xlarge) {
        padding-left: 115px;
        width: 61%;
    }
}

.main-form__checkboxes__title {
    margin-bottom: 17px;
}

.main-form__checkboxes {
    margin-bottom: 16px;

    *:last-child {
        margin-bottom: 0;
    }

    @include bp(small) {
        margin-bottom: 32px;
    }

    @include bp(xlarge) {
        margin-bottom: 35px;
    }
}

.main-form__checkbox {
    margin-bottom: 16px;
}

.main-form__label {
    display: flex;
    position: relative;
    
    @include bp(xlarge) {
        cursor: pointer;
    }
}

.main-form__check {
    display: none;
}

.main-form__check:checked ~ .main-form__custom {
    background-color: $color-bg-green;
}

.main-form__custom {
    position: relative;
    width: 22px;
    height: 22px;
    background-color: $color-bg-white;
}

.main-form__custom:after {
    content: "";
    position: absolute;
    display: none;
}

.main-form__check:checked ~ .main-form__custom:after {
    display: block;
}
  
.main-form__custom:after {
    left: 8px;
    top: 4px;
    width: 4px;
    height: 9px;
    border: solid $color-border-white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.main-form__checkbox__text {
    flex: 1;
    padding-left: 22px;
}

.main-form__recaptcha {
    width: 293px;
    max-width: 100%;
    height: 70px;
    border: 1px solid $color-border-gray;
    box-shadow: 1px 1px 3px 1px #D1D1D1;
    margin-bottom: 16px;
    border-radius: 2px;

    @include bp(small) {
        margin-bottom: 32px;
    }

    @include bp(xlarge) {
        margin-bottom: 20px;
    }
}

.main-form__submit {
    width: 100%;

    @include bp(small) {
        width: auto;
    }
}