// ==========================================================================
// # MEET THE TEAM / PARTIAL
// ==========================================================================

.meet-team__wrapper {
    margin-bottom: 34px;

    @include bp(small) {
        margin-bottom: 50px;
    }

    @include bp(medium) {
        margin-bottom: 80px;
    }
}

.meet-team__header {
    max-width: 775px;
    margin: 0 auto 30px auto;

    @include bp(small) {
        margin: 0 auto 50px auto;
    }

    @include bp(medium) {
        margin: 0 auto 72px auto;
    }
}

.meet-team__container {
    @include bp(medium) {
        margin: 0 -8px;
    }
}

.meet-team__card {
    width: 100%;
    background-color: $color-bg-white;
    padding: 20px;
    flex-direction: column;
    margin-bottom: 20px;

    @include bp(medium) {
        width: calc(50% - 16px);
        margin: 8px;
    }
    
    @include bp(xlarge) {
        flex-direction: row;
        padding: 25px;
    }
}

.meet-team__card:last-child {
    margin-bottom: 0;

    @include bp(medium) {
        margin: 8px;
    }
}

.meet-team__mobile__headline {
    display: block;
    margin-bottom: 16px;

    @include bp(xlarge) {
        display: none;
    }
}

.meet-team__image {
    width: 140px;
    height: auto;
    margin-bottom: 24px;

    @include bp(xlarge) {
        width: 30%;
        margin-bottom: 0;
    }
}

.meet-team__img {
    display: block;
}

.meet-team__info {
    @include bp(xlarge) {
        width: 70%;
    }
}

.meet-team__info {
    @include bp(xlarge) {
        padding-left: 24px;
    }
}

.meet-team__headline {
    display: none;
    margin-bottom: 16px;

    @include bp(xlarge) {
        display: block;
    }
}