// ==========================================================================
// # NAVBAR / STATIC
// ==========================================================================

.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-lvl-4;

    @include bp(xlarge) {
        background-color: $color-bg-white;
    }
}

.l-navbar__green {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: $color-bg-green;
    
    @include bp(xlarge) {
        display: block;
    }
}

.l-navbar.active {
    height: 100vh;
}

.l-navbar__container {
    position: relative;
    height: 60px;
    justify-content: space-between;

    @include bp(xlarge) {
        height: 80px;
    }
}

.l-navbar__logo {
    background-color: $color-bg-white;
    flex: 1;
    align-items: center;
    justify-content: center;

    @include bp(small) {
        justify-content: unset;
    }

    @include bp(xlarge) {
        flex: unset;
        width: 25%;
    }
}

.l-navbar__image {
    display: block;
}

.l-navbar__img {
    max-width: 175px;
    max-height: 25px;
    display: block;

    @include bp(small) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @include bp(xlarge) {
        position: static;
        transform: translate(0);
    }
}

.l-navbar__menu {
    position: relative;
    width: 60px;
    background-color: $color-bg-green;
    align-items: center;
    justify-content: center;
    transition: $global-transition;
    z-index: $z-lvl-5;

    @include bp(xlarge) {
        width: 75%;
        align-items: unset;
        justify-content: flex-end;
    }
}

.l-navbar__navigation {
    display: none;
    align-items: center;

    @include bp(xlarge) {
        display: flex;
    }
}

.l-navbar__links {
    height: 100%;
    padding: 0;
    margin: 0;
}

.l-navbar__item { 
    display: flex;
    align-items: center;
    position: relative;
}

.l-navbar__item::after {
    content: "";
    width: 1px;
    height: 18px;
    background-color: $color-bg-white;
}

.l-navbar__item:last-child {
    &:after {
        display: none;
    }
}

.l-navbar__item:hover {
    .l-navbar__dropdown {
        display: block;
    }

    .l-navbar__link {
        color: $color-text;
    }
}

.l-navbar__link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 30px 20px;
    white-space: nowrap;
    transition: $global-transition;
}

.l-navbar__dropdown {
    display: none;
    position: absolute;
    top: 80px;
    left: -32.5px;
    width: 270px;
    margin: 0;
    padding: 0;
    background-color: $color-bg-green;
    z-index: $z-lvl-5;

    @include bp(full) {
        left: 50%;
        transform: translateX(-50%);
    }
}

.l-navbar__dropdown__link {
    display: block;
    padding: 12px 24px;
    transition: $transition-fast;
}

.l-navbar__dropdown__link:hover {
    background-color: $color-bg-green-5;
}

// Burger Icon

.l-navbar__burger {
    position: relative;
    display: block;
    width: 23px;
    height: 14px;

    @include bp(xlarge) {
        display: none;
    }
}

.l-navbar__burger:before,
.l-navbar__burger:after,
.l-navbar__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-bg-white;
    transform-origin: center center;
    transition: $global-transition;
}

.l-navbar__burger:before {
    content: "";
    top: 0;
    transform: translateY(-50%);
}

.l-navbar__burger:after {
    content: "";
    top: 14px;
    transform: translateY(-50%);
}

.l-navbar__line {
    top: 7px;
    transform: translateY(-50%);
}

.l-navbar__menu.toggle {
    background-color: $color-bg-green-3;

    .l-navbar__burger:before {
        transform: rotate(45deg);
        top: 7px;
    }
      
    .l-navbar__line {
        width: 0%;
        opacity: 0;
    }
      
    .l-navbar__burger:after {
        transform: rotate(-45deg);
        top: 7px;
    }
}

// Mobile

.m-menu {
    display: none;
    background-color: $color-bg-green;
    height: calc(100vh - 60px);
    
    @include bp(xlarge) {
        display: none;
    }
}

.m-menu.open {
    display: block;
    overflow-y: scroll;
}

.m-menu__list {
    margin: 0;
    padding: 0;
}

.m-menu__item {
    position: relative;
    padding: 25px 35px;
    transition: $global-transition;
}

.m-menu__link,
.m-menu__dropdown__link {
    position: relative;
    display: block;
    width: 100%;
}

.m-menu__dropdown {
    display: none;
    padding: 20px 0 0 20px; 
}

.m-menu__dropdown__item {
    margin-bottom: 20px;
}

.m-menu__dropdown__item:last-child {
    margin-bottom: 0;
}

// Mobile Dropdown Arrow

.navbar__has-child {
    .m-menu__link:after {
        position: absolute;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 407.437 407.437' style='enable-background:new 0 0 512 512'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' fill='%23fff' data-original='%23000000' d='M386.258 91.567l-182.54 181.945L21.179 91.567 0 112.815 203.718 315.87l203.719-203.055z'/%3E%3C/svg%3E");
        width: 20px;
        height: 20px;
        top: -3px;
        right: 0;
        transform: rotate(0);
        transition: $global-transition;
    }
}

.navbar__has-child.active {
    background-color: $color-bg-green-4;

    .m-menu__link:after {
        transform: rotate(-180deg);
    }
}

// Top offset for anchors

.l-navbar__offset {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 140px;
}
