// ==========================================================================
// # QUOTE / PARTIAL
// ==========================================================================

.d-quote__wrapper {
    margin-bottom: 30px;

    @include bp(small) {
        margin-bottom: 50px;
    }

    @include bp(medium) {
        margin-bottom: 80px;
    }
}

.d-quote__container {
    margin: 0;
}