// ==========================================================================
// # RESOURCE REPEATER / PARTIAL
// ==========================================================================

.resources-repeater__wrapper {
    margin-bottom: 40px;

    @include bp(medium) {
        margin-bottom: 72px;
    }
}

.resources-repeater__header {
    max-width: 778px;
    margin: 0 auto;
    margin-bottom: 30px;

    *:last-child {
        margin-bottom: 0;
    }

    @include bp(small) {
        margin-bottom: 50px;
    }

    @include bp(medium) {
        margin-bottom: 62px;
    }
}

.resources-repeater__title {
    margin-bottom: 11px;
}

.resources-repeater__cards {
    flex-direction: column;

    @include bp(medium) {
        margin: 0 -8px;
        flex-direction: row;
    }
}

.resources-repeater__item {
    width: 100%;
    margin-bottom: 16px;
    background-color: $color-bg-white;
    flex-direction: row;
    transition: $global-transition;

    @include bp(medium) {
        flex-direction: column;
        margin: 8px;
        width: calc(50% - 16px);
    }

    @include bp(xlarge) {
        &:hover {
            box-shadow: 0px 10px 40px $gray-shadow;
        }
    }
}

.resources-repeater__item:last-child {
    margin-bottom: 0;

    @include bp(medium) {
        margin: 8px;
    }
}

.resources-repeater__image {
    width: 33.33%;

    @include bp(medium) {
        width: 100%;
        height: 250px;
    }
}

.resources-repeater__content {
    width: 66.66%;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;

    @include bp(medium) {
        width: 100%;
        flex: 1;
        padding: 39px;
    }
}

.resources-repeater__copy__title {
    margin-bottom: 8px;

    @include bp(small) {
        margin-bottom: 16px;
    }  
}

.resources-repeater__copy {
    margin-bottom: 16px;

    @include bp(small) {
        margin-bottom: 32px;
    }
}

.resources-repeater__link {
    white-space: nowrap;
}

// Modifiers

.resources-repeater__header-s-margin {
    .resources-repeater__header {
        margin: 0 auto;
        margin-bottom: 30px;
    
        @include bp(small) {
            margin-bottom: 50px;
        }

        @include bp(medium) {
            margin-bottom: 42px;
        }
    }
}