// ==========================================================================
// # SIX STEPS / PARTIAL
// ==========================================================================

.six-steps__wrapper {
    margin-bottom: 30px;

    @include bp(small) {
        margin-bottom: 50px;
    }

    @include bp(medium) {
        margin-bottom: 80px;
    }
}

.six-steps__grid {
    display: inline-grid;
    grid-template-columns: 100%;
    justify-content: center;
    grid-auto-flow: row;

    @include bp(medium) {
        grid-template-columns: 80%;
    }

    @include bp(xlarge) {
        grid-gap: 16px;
        grid-auto-flow: column;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 1fr);
    }
}

.six-steps__box {
    background-color: $color-bg-white;
    padding: 39px;
    margin-bottom: 16px;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }

    @include bp(xlarge) {
        margin-bottom: 0;
    }
}

.six-steps__box-3 {
    margin-bottom: 30px;
    
    @include bp(xlarge) {
        margin-bottom: 0;
    }
}

.six-steps__content {
    flex-direction: column;
    align-items: center;

    @include bp(medium) {
        flex-direction: row;
        align-items: unset;
    }
}

.six-steps__segment {
    width: 100%;
    margin-bottom: 24px;

    @include bp(medium) {
        width: 24%;
        margin-bottom: 0;
    }
}

.six-steps__circle {
    height: 100px;
    width: 100px;
    border-radius: $circle;
    box-shadow: 0px 0px 16px $gray-shadow;
    padding: 20px 16px;
}

.six-steps__img {
    max-height: 100%;
    max-width: 100%;
}

.six-steps__copy {
    width: 100%;

    @include bp(medium) {
        width: 76%;
        padding-left: 24px;
    }
}

.six-steps__headline {
    margin-bottom: 16px;
    align-items: center;
}

.six-steps__title {
    margin-left: 16px;
}

.six-steps__zipzap {
    width: 220px;
    height: 40px;
    display: block; 
    margin-bottom: 50px;
    align-self: center;
    justify-self: center;

    @include bp(xlarge) {
        display: none;
    }
}

.six-steps__zipzap__image {
    justify-content: center;
}

.six-steps__zipzap__img {
    max-width: 100%;
    max-height: 100%;
}