// ==========================================================================
// # SMALL BANNER / PARTIAL
// ==========================================================================

.small-banner__wrapper {
    margin-bottom: 30px;

    @include bp(small) {
        margin-bottom: 50px;
    }

    @include bp(medium) {
        margin-bottom: 80px;
    }
}

.small-banner {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.small-banner__dark {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: $color-bg-black-2;
    opacity: 0.3;
}

.small-banner__container {
    position: relative;
    align-items: center;
    z-index: $z-lvl-1;
    padding: 32px 20px 45px 20px;
    min-height: 150px;

    @include bp(medium) {
        padding: 50px 44px;
        min-height: 250px;
    }

    @include bp(xlarge) {
        padding: 70px 70px 70px 153px;
    }
}

.small-banner__content {
    max-width: 420px;

    @include bp(xlarge) {
        max-width: 578px;
    }
}

.small-banner__title {
    margin-bottom: 36px;
}

.small-banner__btn {
    width: 100%;
    max-width: 100%;

    @include bp(small) {
        width: auto;
    }
}