// ==========================================================================
// # STANDARD ROW / PARTIAL
// ==========================================================================

.standard-row__wrapper {
    margin-bottom: 30px;

    @include bp(small) {
        margin-bottom: 50px;
    }

    @include bp(medium) {
        margin-bottom: 80px;
    }
}

.standard-row {
    position: relative;
}

.standard-row__header {
    display: none;
    max-width: 775px;
    margin: 0 auto 30px auto;

    *:last-child {
        margin-bottom: 0;
    }
    
    @include bp(small) {
        margin: 0 auto 50px auto;
    }

    @include bp(medium) {
        margin: 0 auto 80px auto;
    }
}

.standard-row__header__title {
    margin-bottom: 20px;
}

.standard-row__container {
    align-items: flex-start;
}

.standard-row__content {
    width: 100%;
    margin-bottom: 36px;

    *:last-child {
        margin-bottom: 0;
    }

    @include bp(large) {
        margin-bottom: 0;
        width: 57%;
        padding-right: 80px;
    }

    @include bp(xlarge) {
        margin-bottom: 0;
        width: 61%;
        padding-right: 115px;
    }
}

.standard-row__title {
    margin-bottom: 16px;
}

.standard-row__text {
    margin-bottom: 36px;
    
    p {
        margin-bottom: 20px;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.standard-row__media {
    width: 100%;

    @include bp(large) {
        width: 43%;
    }

    @include bp(xlarge) {
        width: 39%;
    }
}

.standard-row__responsive {
    overflow: hidden;
    padding-bottom: 57.25%;
    position: relative;
    height: 0;
}
.standard-row__responsive iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.standard-row__img {
    display: block;
}

// Modifiers

.standard-row__fifty {
    .standard-row__content {
        width: 100%;
    
        @include bp(large) {
            width: 51%;
        }
    }

    .standard-row__media {
        width: 100%;
    
        @include bp(large) {
            width: 49%;
        }
    }
}

.standard-row__top-header {
    .standard-row__header {
        display: block;
    }
}

.standard-row__header-s-margin {
    .standard-row__header {
        margin-bottom: 30px;

        @include bp(small) {
            margin-bottom: 50px;
        }
    }
}

.standard-row__top-spacing {
    padding-top: 30px;

    @include bp(small) {
        padding-top: 50px;
    }
}

.standard-row__mobile-invert {
    .standard-row__content {
        order: 2;
        margin-bottom: 0;

        @include bp(large) {
            order: 0;
        }
    }

    .standard-row__media {
        order: 0;
        margin-bottom: 36px;

        @include bp(large) {
            margin-bottom: 0;
            order: 2;
        }
    }
}

.standard-row__narrow-text {
    .standard-row__content {
        @include bp(xlarge) {
            padding-right: 110px;
        }
    }

    .standard-row__copy {
        @include bp(large) {
            max-width: 450px;
        }

        @include bp(xlarge) {
            max-width: 380px;
        }
    }
}

.standard-row__small-gap {
    .standard-row__content {
        padding-right: 16px;
    }
}

.standard-row__small-title {
    .standard-row__title {
        @extend .text-team;
    }
}

.standard-row__small-margin {
    margin-bottom: 16px;

    @include bp(small) {
        margin-bottom: 32px;
    }
}

.standard-row__medium-margin {
    margin-bottom: 30px;

    @include bp(small) {
        margin-bottom: 50px;
    }

    @include bp(medium) {
        margin-bottom: 70px;
    }
}

.standard-row__small-gap-mobile {
    .standard-row__content {
        margin-bottom: 16px;

        @include bp(small) {
            margin-bottom: 32px;
        }

        @include bp(large) {
            margin-bottom: 0;
        }
    }

    &.standard-row__mobile-invert {
        .standard-row__content {
            margin-bottom: 0;
        }

        .standard-row__media {
            margin-bottom: 16px;

            @include bp(small) {
                margin-bottom: 32px;
            }

            @include bp(large) {
                margin-bottom: 0;
            }
        }
    }
}

.standard-row__lower-video {
    .standard-row__media {
        @include bp(large) {
            padding-top: 42px;
        }
    }
}
