// ==========================================================================
// # TRANSPARENT CARDS / PARTIAL
// ==========================================================================

.transparent-cards__wrapper {
    margin-bottom: 30px;

    @include bp(small) {
        margin-bottom: 50px;
    }

    @include bp(medium) {
        margin-bottom: 80px;
    }
}

.transparent-cards__header {
    margin: 0 auto 30px auto;

    *:last-child {
        margin: 0;
    }

    @include bp(small) {
        margin: 0 auto 50px auto;
    }

    @include bp(medium) {
        margin: 0 auto 80px auto;
    }
}

.transparent-cards__title {
    margin-bottom: 20px;
}

.transparent-cards__text {
    span {
        color: $color-text-green; 
    }
}

.transparent-cards__box {
    position: relative;
    width: 100%;

    @include bp(medium) {
        width: 50%;
    }
}

.transparent-cards__box:hover {
    @include bp(xlarge) {
        .transparent-cards__white {
            background-color: $color-bg-green;
        }

        .transparent-cards__box__title {
            color: $color-text-white;
        }

        .transparent-cards__box__text {
            color: $color-text-white;
        }

        .transparent-cards__link {
            color: $color-text-white;
        }
    }
}

.transparent-cards__white {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-bg-gray;
    opacity: 0.9;
    z-index: $z-lvl-1;
    transition: $card-transition;
}

.transparent-cards__image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.transparent-cards__content {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    z-index: $z-lvl-2;

    @include bp(medium) {
        padding: 40px;
    }
}

.transparent-cards__box__title {
    margin-bottom: 16px;
    transition: $card-transition;
}

.transparent-cards__box__text {
    margin-bottom: 30px;
    transition: $card-transition;

    @include bp(medium) {
        margin-bottom: 50px;
    }
}

// Transitions

.transparent-cards__white,
.transparent-cards__box__title,
.transparent-cards__box__text,
.transparent-cards__link {
    transition: $card-transition;
}

// Modifiers

.transparent-cards__header-s-margin {
    .transparent-cards__header {
        margin-bottom: 30px;
    }
}