// ==========================================================================
// # VIDEO BANNER / PARTIAL
// ==========================================================================

.video-banner__wrapper {
    background: linear-gradient(73deg, $color-bg-green-6 0%, $color-bg-blue 100%);
    padding: 40px 0 30px 0;
    margin-bottom: 30px;
    
    @include bp(small) {
        margin-bottom: 50px;
    }

    @include bp(medium) {
        margin-bottom: 80px;
    }

    @include bp(large) {
        padding: 50px 0 33px 0;
    }
}

.video-banner {
    flex-direction: column;
    align-items: center;

    @include bp(large) {
        flex-direction: row;
        align-items: unset;
    }
}

.video-banner__copy {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;

    @include bp(medium) {
        width: 80%;
    }

    @include bp(large) {
        text-align: left;
        margin-bottom: 0;
        padding-right: 60px;
        width: 52%;
    }
}

.video-banner__title,
.video-banner__text {
    margin-bottom: 20px;
}

.video-banner__media {
    width: 100%;

    @include bp(medium) {
        width: 80%;
    }

    @include bp(large) {
        width: 48%;
    }
}

.video-banner__cta {
    width: 100%;

    @include bp(small) {
        width: auto;
    }
}

.video-banner__responsive {
    overflow: hidden;
    padding-bottom: 57.25%;
    position: relative;
    height: 0;
}
.video-banner__responsive iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}