// ==========================================================================
// #GLOBAL
// ==========================================================================
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 21px !default;
$btn-radius: 30px;
$circle: 50%;
$global-opacity: 0.4;
$global-transition: all 200ms linear !default;
$transition-fast: all 100ms linear !default;
$card-transition: all 400ms linear;

/* Fonts
   ========================================================================== */

$cabin: 'Cabin', Arial, sans-serif;
$open-sans: 'Open Sans', Arial, sans-serif;


/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  display: 1440px,
  full: 1600px,
  retina: 2500px,
);

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-black: #3C3C3C;
$color-black-2: #000;
$color-white: #fff;
$color-green: #319F58;
$color-green-2: #5AB279;
$color-green-3: #268046;
$color-green-4: #247842;
$color-green-5: #298349;
$color-green-6: #ACCD6B;
$color-gray: #F2F2F2;
$color-gray-2: #F8F8F8;
$color-gray-3: #D1D1D1;
$color-gray-4: #D8D8D8;
$color-blue: #6EBBB3;
$color-blue-2: #085368;
$color-blue-3: #118AAF;

// Text
$color-text: $color-black;
$color-text-white: $color-white;
$color-text-gray: $color-gray-2;
$color-text-gray-2: $color-gray-4;
$color-text-green: $color-green;

// Background
$color-bg-gray: $color-gray;
$color-bg-gray-2: $color-gray-2;
$color-bg-green: $color-green;
$color-bg-green-2: $color-green-2;
$color-bg-green-3: $color-green-3;
$color-bg-green-4: $color-green-4;
$color-bg-green-5: $color-green-5;
$color-bg-green-6: $color-green-6;
$color-bg-white: $color-white;
$color-bg-black: $color-black;
$color-bg-black-2: $color-black-2;
$color-bg-blue: $color-blue;
$color-bg-blue-2: $color-blue-2;
$color-bg-blue-3: $color-blue-3;

// Borders
$color-border-gray: $color-gray-3;
$color-border-green: $color-green;
$color-border-white: $color-white;

// Box Shadow Colors
$gray-shadow: rgba(0,0,0,0.16);

// Transparent Backgrounds
$transparent-white: rgba(255, 255, 255, 0.3);

// Z-Index
$z-lvl-1: 100;
$z-lvl-2: 200;
$z-lvl-3: 300;
$z-lvl-4: 400;
$z-lvl-5: 500;

// Font Family
$text-family: $open-sans;
$heading-family: $cabin;
