<div class="basic-text__wrapper">
    <div class="wrapper-full">
        <section class="basic-text">
            {% for copy in content %}
            <div class="basic-text__copy">
                <h2 class="basic-text__title f-700 text-team">{{ copy.title }}</h2>
                <div class="basic-text__text text-body">{{ copy.text }}</div>
            </div>
            {% endfor %}
        </section>
    </div>
</div>