<div class="break-up__wrapper">
    <div class="wrapper-small">
        <section class="break-up">
            {% if title %}
            <div class="break-up__header">
                <h2 class="break-up__title text-header">{{ title }}</h2>
            </div>
            {% endif %}
            <div class="break-up__image">
                <img class="break-up__img" src="https://via.placeholder.com/680x40">
            </div>
        </section>
    </div>
</div>