<div class="carousel-resources__wrapper">
    <div class="carousel-resources__case wrapper-full">
        <section class="carousel-resources">
            <div class="carousel-resources__header">
                <h2 class="carousel-resources__title text-header color-white f-700">See More Zip-Zap Movies</h2>
            </div>
            <div class="carousel-resources__container swiper-container">
                <div class="carousel-resources__row swiper-wrapper">
                    <div class="carousel-resources__item swiper-slide">
                        <div class="carousel-resources__image">
                            <img class="carousel-resources__img fit-cover" src="assets/images/writing-828911_1920.jpg">
                        </div>
                        <div class="carousel-resources__content d-flex">
                            <h3 class="carousel-resources__caption text-job f-heading color-white f-700 u-text-center">Concept Development Workshops</h3>
                            <a class="carousel-resources__link u-btn--carousel-white" href="#" target="">Watch Movie</a>
                        </div>
                    </div>
                    <div class="carousel-resources__item swiper-slide">
                        <div class="carousel-resources__image">
                            <img class="carousel-resources__img fit-cover" src="assets/images/writing-828911_1920.jpg">
                        </div>
                        <div class="carousel-resources__content d-flex">
                            <h3 class="carousel-resources__caption text-job f-heading color-white f-700 u-text-center">Concept Development Workshops</h3>
                            <a class="carousel-resources__link u-btn--carousel-white" href="#" target="">Watch Movie</a>
                        </div>
                    </div>
                    <div class="carousel-resources__item swiper-slide">
                        <div class="carousel-resources__image">
                            <img class="carousel-resources__img fit-cover" src="assets/images/writing-828911_1920.jpg">
                        </div>
                        <div class="carousel-resources__content d-flex">
                            <h3 class="carousel-resources__caption text-job f-heading color-white f-700 u-text-center">Concept Development Workshops</h3>
                            <a class="carousel-resources__link u-btn--carousel-white" href="#" target="">Watch Movie</a>
                        </div>
                    </div>
                    <div class="carousel-resources__item swiper-slide">
                        <div class="carousel-resources__image">
                            <img class="carousel-resources__img fit-cover" src="assets/images/writing-828911_1920.jpg">
                        </div>
                        <div class="carousel-resources__content d-flex">
                            <h3 class="carousel-resources__caption text-job f-heading color-white f-700 u-text-center">Concept Development Workshops</h3>
                            <a class="carousel-resources__link u-btn--carousel-white" href="#" target="">Watch Movie</a>
                        </div>
                    </div>
                    <div class="carousel-resources__item swiper-slide">
                        <div class="carousel-resources__image">
                            <img class="carousel-resources__img fit-cover" src="assets/images/writing-828911_1920.jpg">
                        </div>
                        <div class="carousel-resources__content d-flex">
                            <h3 class="carousel-resources__caption text-job f-heading color-white f-700 u-text-center">Concept Development Workshops</h3>
                            <a class="carousel-resources__link u-btn--carousel-white" href="#" target="">Watch Movie</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-resources__navigation">
                <div class="carousel-resources__button carousel-resources__left d-flex">
                    <svg class="carousel-resources__arrow" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 256 256" style="enable-background:new 0 0 512 512"><path fill="#fff" data-original="#000000" d="M207.093 30.187L176.907 0l-128 128 128 128 30.186-30.187L109.28 128z" xmlns="http://www.w3.org/2000/svg"/></svg>
                </div>
                <div class="carousel-resources__button carousel-resources__right d-flex">
                    <svg class="carousel-resources__arrow" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 256 256" style="enable-background:new 0 0 512 512"><path fill="#fff" data-original="#000000" d="M79.093 0L48.907 30.187 146.72 128l-97.813 97.813L79.093 256l128-128z" xmlns="http://www.w3.org/2000/svg"/></svg>
                </div>  
            </div>
        </section>
    </div>
</div>
