<div class="double-carousel__wrapper {{ modifier }}" {% if id %} id="{{ id }}" {% endif %}>
    <div class="wrapper-full">
        <section class="double-carousel">
            <div class="double-carousel__header u-text-center">
                {% if title %}
                <h2 class="double-carousel__title text-header">{{ title }}</h2>
                {% endif %}
                {% if text %}
                <p class="double-carousel__text text-body">{{ text }}</p>
                {% endif %}
            </div>
            <div class="double-carousel__swiper d-flex">
                <div class="double-carousel__button double-carousel__left d-flex d-flex-center">
                    <svg class="double-carousel__arrow" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436" xml:space="preserve"><path d="M315.869 21.178L294.621 0 91.566 203.718l203.055 203.718 21.248-21.178-181.945-182.54z" fill="#707070" /></svg>
                </div>
                <div class="double-carousel__container swiper-container">
                    <ul class="double-carousel__content swiper-wrapper">
                        <li class="double-carousel__slide swiper-slide">
                            <img class="double-carousel__img" src="https://via.placeholder.com/140x40">
                        </li>
                        <li class="double-carousel__slide swiper-slide">
                            <img class="double-carousel__img" src="https://via.placeholder.com/110x70">
                        </li>
                        <li class="double-carousel__slide swiper-slide">
                            <img class="double-carousel__img" src="https://via.placeholder.com/150x45">
                        </li>
                        <li class="double-carousel__slide swiper-slide">
                            <img class="double-carousel__img" src="https://via.placeholder.com/105x90">
                        </li>
                        <li class="double-carousel__slide swiper-slide">
                            <img class="double-carousel__img" src="https://via.placeholder.com/150x45">
                        </li>
                        <li class="double-carousel__slide swiper-slide">
                            <img class="double-carousel__img" src="https://via.placeholder.com/105x90">
                        </li>
                        <li class="double-carousel__slide swiper-slide">
                            <img class="double-carousel__img" src="https://via.placeholder.com/110x70">
                        </li>
                        <li class="double-carousel__slide swiper-slide">
                            <img class="double-carousel__img" src="https://via.placeholder.com/120x70">
                        </li>
                        <li class="double-carousel__slide swiper-slide">
                            <img class="double-carousel__img" src="https://via.placeholder.com/150x45">
                        </li>
                        <li class="double-carousel__slide swiper-slide">
                            <img class="double-carousel__img" src="https://via.placeholder.com/105x90">
                        </li>
                        <li class="double-carousel__slide swiper-slide">
                            <img class="double-carousel__img" src="https://via.placeholder.com/110x70">
                        </li>
                    </ul>
                </div>
                <div class="double-carousel__button double-carousel__right d-flex d-flex-center">
                    <svg class="double-carousel__arrow" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436" xml:space="preserve"><path d="M112.814 0L91.566 21.178l181.946 182.54-181.946 182.54 21.248 21.178 203.055-203.718z" fill="#707070"/></svg>
                </div>
            </div>
        </section>
    </div>
</div>