<div class="footer-form__wrapper">
    <div class="wrapper-full">
        <section class="footer-form">
            <div class="footer-form__header u-text-center">
                <h2 class="footer-form__title text-header">Want to Generate Winning Ideas to Grow your Business?</h2>
                <p class="footer-form__text text-body">Contact us and we will explain our approach and the different tools that we use.</p>
            </div>
            <form class="footer-form__form d-flex">
                <div class="footer-form__contact d-flex d-flex-wrap">
                    <div class="footer-form__fields d-flex d-flex-wrap">
                        <div class="footer-form__content">
                            <label class="vh" for="name">Name</label>
                            <input class="footer-form__input u-input text-nav" type="text" name="name" placeholder="Example Name">
                        </div>
                        <div class="footer-form__content">
                            <label class="vh" for="company">Company</label>
                            <input class="footer-form__input u-input text-nav" type="text" name="company" placeholder="Company">
                        </div>
                        <div class="footer-form__content">
                            <label class="vh" for="email">Email</label>
                            <input class="footer-form__input u-input text-nav" type="email" name="email" placeholder="Email">
                        </div>
                        <div class="footer-form__content">
                            <label class="vh" for="tel">Telephone</label>
                            <input class="footer-form__input u-input text-nav" type="tel" name="tel" placeholder="Telephone">
                        </div>         
                    </div>
                    <div class="footer-form__area">
                        <label class="vh" for="textarea">Message</label>
                        <textarea class="footer-form__textarea u-input u-textarea text-nav" name="textarea" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="footer-form__recaptcha"></div>
                <div class="footer-form__button">
                    <input class="footer-form__submit u-btn--narrow-modified" type="submit" value="Submit"> 
                </div>
            </form>
            
        </section>
    </div>
</div>