<div class="full-banner__wrapper">
    <section class="full-banner">
        <div class="full-banner__circle">
            <img class="full-banner__arrow" src="assets/images/svg/arrow-down.svg">
        </div>
        <div class="full-banner__dark"></div>
        <div class="full-banner__image swiper-container">
            <div class="full-banner__wrap swiper-wrapper">
                <img class="full-banner__img fit-cover swiper-slide" src="assets/images/writing-828911_1920.jpg">
                <img class="full-banner__img fit-cover swiper-slide" src="https://via.placeholder.com/1920x1080">
            </div>
        </div>
        <div class="full-banner__container full-banner__container--100 d-flex">
            <div class="full-banner__content">
                <h1 class="full-banner__title banner-heading-small color-white">A specialist idea generation and product innovation agency</h1>
                <p class="full-banner__text text-banner-two color-white f-600 f-heading">
                    <span class="full-banner__line">Deeper Insights And Trends</span>
                    <span class="full-banner__break">|</span>
                    <span class="full-banner__line">Winning Product Concepts</span> 
                    <span class="full-banner__line">Compelling Claims</span> 
                    <span class="full-banner__break">|</span> 
                    <span class="full-banner__line">Marketing Activation Ideas</span>
                </p>
                <div class="full-banner__cta">
                    <a class="full-banner__btn u-btn" href="#" target="">Our Work for Winning Ideas</a>
                </div>
            </div>
        </div>
    </section>
</div>