<div class="info-cards__wrapper">
    <div class="wrapper-full">
        <section class="info-cards">
            <div class="info-cards__row d-flex d-flex-wrap">
                <div class="info-cards__box d-flex d-flex-wrap">
                    <div class="info-cards__segment">
                        <div class="info-cards__circle d-flex d-flex-center">
                            <img class="info-cards__img lazy" data-src="https://via.placeholder.com/37x60">
                        </div>
                    </div>
                    <div class="info-cards__content">
                        <div class="info-cards__copy">
                            <h2 class="info-cards__title text-info f-400">Try it Today for FREE</h2>
                            <p class="info-cards__text text-body">Provides virtual teams with a simple and easy way too to share new ideas linked to a specific innovation challenge in webex meetings or for on-the-go brainstorming.</p>    
                        </div>
                        <div class="info-cards__button">
                            <a class="info-cards__link u-btn--narrow" href="#" target="">Try Zip-Zap® For Free</a>  
                        </div>
                    </div>
                </div>
                <div class="info-cards__box d-flex d-flex-wrap">
                    <div class="info-cards__segment">
                        <div class="info-cards__circle d-flex d-flex-center">
                            <img class="info-cards__img lazy" data-src="https://via.placeholder.com/37x60">
                        </div>
                    </div>
                    <div class="info-cards__content">
                        <div class="info-cards__copy">
                            <h2 class="info-cards__title text-info f-400">Generate Stronger Ideas</h2>
                            <p class="info-cards__text text-body">Provides virtual teams with a simple and easy way too to share new ideas linked to a specific innovation challenge in webex meetings or for on-the-go brainstorming.</p>
                        </div>
                        <div class="info-cards__button">
                            <a class="info-cards__link u-btn--narrow" href="#" target="">Join a Public Project</a>   
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
