<div class="main-form__wrapper">
    <div class="wrapper-full">
        <section class="main-form">
            <div class="main-form__header">
                <h2 class="main-form__title text-header mb-2 u-text-center">Contact Ideas First®</h2>
                <div class="main-form__copy text-body u-text-center">
                    <p>Ideas First® have over 20 years experience of business innovation consulting. We are passionate about helping clients develop new innovative ideas and concepts that stand out from the crowd and drive business growth.</p>
                    <p> Contact us, using the form below, to find out more about the programs we offer and how we can help you develop more creative and innovative ideas for your business. Alternatively, click on the following link to book a quick meeting.</p>
                </div>
            </div>
            <form class="main-form__contact d-flex d-flex-wrap">
                <div class="main-form__textfields">
                    <div class="main-form__content">
                        <label class="vh" for="name">Name</label>
                        <input class="main-form__input u-input text-nav" type="text" name="name" placeholder="Example Name">
                    </div>
                    <div class="main-form__content">
                        <label class="vh" for="email">Email</label>
                        <input class="main-form__input u-input text-nav" type="text" name="email" placeholder="Email">
                    </div>
                    <div class="main-form__content">
                        <label class="vh" for="company">Company</label>
                        <input class="main-form__input u-input text-nav" type="text" name="company" placeholder="Company">
                    </div>
                    <div class="main-form__content">
                        <label class="vh" for="tel">Telephone</label>
                        <input class="main-form__input u-input text-nav" type="text" name="tel" placeholder="Telephone">
                    </div>
                    <div class="main-form__content">
                        <label class="vh" for="message">Message</label>
                        <textarea class="main-form__input main-form__textarea u-input u-textarea text-nav" name="message" placeholder="Message"></textarea>
                    </div>
                    <div class="main-form__content">
                        <p class="text-body">Please read our <a class="main-form__link" href="#u-modal__wrapper" target="" rel="modal:open">Contact Us Privacy Policy</a> to see how we keep your data secure.</p>
                    </div>
                </div>
                
                <div class="main-form__checkup d-flex">
                    <div class="main-form__checkboxes">
                        <h3 class="main-form__checkboxes__title text-job">Areas of interest</h3>
                        <div class="main-form__checkbox">
                            <label class="main-form__label">
                                <input class="main-form__check" type="checkbox">
                                <span class="main-form__custom"></span>
                                <span class="main-form__checkbox__text text-job f-heading f-400">Zip-Zap Ideas® Online Innovation</span>
                            </label>
                        </div>
                        
                        <div class="main-form__checkbox">
                            <label class="main-form__label">
                                <input class="main-form__check" type="checkbox">
                                <span class="main-form__custom"></span>
                                <span class="main-form__checkbox__text text-job f-heading f-400">Fresh Insights for Ideation</span>
                            </label>
                        </div> 
                        
                        <div class="main-form__checkbox">
                            <label class="main-form__label">
                                <input class="main-form__check" type="checkbox">
                                <span class="main-form__custom text-job"></span>
                                <span class="main-form__checkbox__text text-job f-heading f-400">Innovation Hothouse™ Workshops</span>
                            </label>
                        </div>
                        
                        <div class="main-form__checkbox">
                            <label class="main-form__label">
                                <input class="main-form__check" type="checkbox">
                                <span class="main-form__custom"></span>
                                <span class="main-form__checkbox__text text-job f-heading f-400">Consumer Innovation Labs™</span>
                            </label>
                        </div> 
                        
                        <div class="main-form__checkbox">
                            <label class="main-form__label">
                                <input class="main-form__check" type="checkbox">
                                <span class="main-form__custom"></span>
                                <span class="main-form__checkbox__text text-job f-heading f-400">fastSCREEN™ Consumer Panels</span>
                            </label>
                        </div> 
                        
                        <div class="main-form__checkbox">
                            <label class="main-form__label">
                                <input class="main-form__check" type="checkbox">
                                <span class="main-form__custom"></span>
                                <span class="main-form__checkbox__text text-job f-heading f-400">Creative Facilitation Training</span>
                            </label>
                        </div> 
                        
                        <div class="main-form__checkbox">
                            <label class="main-form__label">
                                <input class="main-form__check" type="checkbox">
                                <span class="main-form__custom"></span>
                                <span class="main-form__checkbox__text text-job f-heading f-400">Copy Editing and Artists</span>
                            </label>
                        </div>
                    </div>
                    <div class="main-form__recaptcha"></div>
                    <div class="main-form__button">
                        <input class="main-form__submit u-btn--narrow-modified" type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>