<div class="meet-team__wrapper">
    <div class="wrapper-full">
        <section class="meet-team">
            <div class="meet-team__header u-text-center">
                <h2 class="meet-team__title mb-2 text-header">Our Core Innovation Team</h2>
                <p class="meet-team__text text-body">Our core innovation team will support your project, together with our network of creative agents and global research partners, including partners in key growth markets such as Brazil, China, India and Russia.</p>
            </div>
            <div class="meet-team__container d-flex d-flex-wrap">
                {% set k = 13 %}
                {% for item in range(1, k) %}
                    <div class="meet-team__card d-flex">
                        <div class="meet-team__mobile__headline">
                            <h3 class="meet-team__name text-team f-700">{{ cards.item.name }}</h3>
                            <h4 class="meet-team__job text-job f-400">{{ cards.item.job }}</h4>
                        </div>
                        <div class="meet-team__image">
                            <img class="meet-team__img img-fluid lazy" data-src="{{ cards.item.image_url }}">
                        </div>
                        <div class="meet-team__info">
                            <div class="meet-team__headline">
                                <h3 class="meet-team__name text-team f-700">{{ cards.item.name }}</h3>
                                <h4 class="meet-team__job text-job f-400">{{ cards.item.job }}</h4>
                            </div>
                            <p class="meet-team__description text-body">{{ cards.item.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>