<header class="l-navbar">
    <div class="l-navbar__green"></div>
    <div class="wrapper-nav">
        <div class="l-navbar__container d-flex">
            <div class="l-navbar__logo d-flex">
                <a class="l-navbar__image" href="index.html" target="">
                    <img class="l-navbar__img" src="https://via.placeholder.com/175x25">
                </a>
            </div>
    
            <div class="l-navbar__menu d-flex">
                
                <!-- Desktop Menu -->
                <div class="l-navbar__navigation">
                    <ul class="l-navbar__links d-flex list-reset">
                        <li class="l-navbar__item">
                            <a data-scroll class="l-navbar__link text-nav color-white f-heading f-600" href="/#ourwork" target="">Our Work</a>
                            <ul class="l-navbar__dropdown list-reset">
                                <li class="l-navbar__dropdown__item">
                                    <a class="l-navbar__dropdown__link text-body color-white f-heading f-500" href="/winning-ideas.html" target="">Winning Ideas to Grow Your Business</a>
                                </li>
                                <li class="l-navbar__dropdown__item">
                                    <a class="l-navbar__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Two</a>
                                </li>
                                <li class="l-navbar__dropdown__item">
                                    <a class="l-navbar__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Three</a>
                                </li>
                                <li class="l-navbar__dropdown__item">
                                    <a class="l-navbar__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Four</a>
                                </li>
                                <li class="l-navbar__dropdown__item">
                                    <a class="l-navbar__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Five</a>
                                </li>
                                <li class="l-navbar__dropdown__item">
                                    <a class="l-navbar__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Six</a>
                                </li>
                                <li class="l-navbar__dropdown__item">
                                    <a class="l-navbar__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Seven</a>
                                </li>
                                <li class="l-navbar__dropdown__item">
                                    <a class="l-navbar__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Eight</a>
                                </li>
                            </ul>
                        </li>
                        <li class="l-navbar__item">
                            <a class="l-navbar__link text-nav color-white f-heading f-600" href="/our-team.html" target="">Our Team</a>
                        </li>
                        <li class="l-navbar__item">
                            <a data-scroll class="l-navbar__link text-nav color-white f-heading f-600" href="/#ourclients" target="">Our Clients</a>
                        </li>
                        <li class="l-navbar__item">
                            <a class="l-navbar__link text-nav color-white f-heading f-600" href="/case-studies.html" target="">Case Studies</a>
                        </li>
                        <li class="l-navbar__item">
                            <a class="l-navbar__link text-nav color-white f-heading f-600" href="/ideas-we-like.html" target="">Ideas We Like</a>
                        </li>
                        <li class="l-navbar__item">
                            <a class="l-navbar__link text-nav color-white f-heading f-600" href="/zip-zap-ideas.html" target="">Zip-Zap Ideas®</a>
                        </li>
                    </ul>
                    <div class="l-navbar__button">
                        <a class="l-navbar__cta u-btn--small text-nav" href="/contact.html" target="">Contact</a>
                    </div>
                </div>
    
                <!-- Mobile Burger Icon -->
                <div class="l-navbar__burger">
                    <div class="l-navbar__line"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div class="m-menu">
        <ul class="m-menu__list list-reset">
            <li class="m-menu__item">
                <a class="m-menu__link text-nav color-white f-heading f-600" href="#">Our Work</a>
                <ul class="m-menu__dropdown list-reset">
                    <li class="m-menu__dropdown__item">
                        <a class="m-menu__dropdown__link text-body color-white f-heading f-500" href="/winning-ideas.html" target="">Winning Ideas to Grow Your Business</a>
                    </li>
                    <li class="m-menu__dropdown__item">
                        <a class="m-menu__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Two</a>
                    </li>
                    <li class="m-menu__dropdown__item">
                        <a class="m-menu__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Three</a>
                    </li>
                    <li class="m-menu__dropdown__item">
                        <a class="m-menu__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Four</a>
                    </li>
                    <li class="m-menu__dropdown__item">
                        <a class="m-menu__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Five</a>
                    </li>
                    <li class="m-menu__dropdown__item">
                        <a class="m-menu__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Six</a>
                    </li>
                    <li class="m-menu__dropdown__item">
                        <a class="m-menu__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Seven</a>
                    </li>
                    <li class="m-menu__dropdown__item">
                        <a class="m-menu__dropdown__link text-body color-white f-heading f-500" href="#" target="">List Item Eight</a>
                    </li>
                </ul>
            </li>
            <li class="m-menu__item">
                <a class="m-menu__link text-nav color-white f-heading f-600" href="/our-team.html" target="">Our Team</a>
            </li>
            <li class="m-menu__item">
                <a data-scroll class="m-menu__link text-nav color-white f-heading f-600" href="/#ourclients" target="">Our Clients</a>
            </li>
            <li class="m-menu__item">
                <a class="m-menu__link text-nav color-white f-heading f-600" href="/case-studies.html" target="">Case Studies</a>
            </li>
            <li class="m-menu__item">
                <a class="m-menu__link text-nav color-white f-heading f-600" href="/ideas-we-like.html" target="">Ideas We Like</a>
            </li>
            <li class="m-menu__item">
                <a class="m-menu__link text-nav color-white f-heading f-600" href="/zip-zap-ideas.html" target="">Zip-Zap Ideas®</a>
            </li>
            <li class="m-menu__item">
                <div class="l-navbar__button">
                    <a class="l-navbar__cta u-btn--small text-nav color-white f-heading f-600" href="/contact.html" target="">Contact</a>
                </div>
            </li>
        </ul>
    </div>
</header>
<div class="l-navbar__offset"></div>