<div class="resources-repeater__wrapper {{ modifier }}" {% if id %} id="{{ id }}" {% endif %}>
    <div class="wrapper-full">
        <section class="resources-repeater">
            <div class="resources-repeater__header u-text-center">
                {% if title %}
                <h2 class="resources-repeater__title text-header">{{ title }}</h2>
                {% endif %}
                {% if text %}
                <p class="resources-repeater__text text-body">{{ text }}</p>
                {% endif %}
            </div>
            <div class="resources-repeater__cards d-flex d-flex-wrap">
                {% set k = 8 %}
                {% for item in range(1, k) %}
                    <a class="resources-repeater__item d-flex" href="#" target="">
                        <div class="resources-repeater__box resources-repeater__image">
                            <img class="resources-repeater__img fit-cover lazy" data-src="{{ cards.item.image_url }}">
                        </div>
                        <div class="resources-repeater__box resources-repeater__content d-flex">
                            <div class="resources-repeater__copy">
                                <h3 class="resources-repeater__copy__title text-resources">{{ cards.item.title }}</h3>
                                <p class="resources-repeater__copy__text text-small">{{ cards.item.text }}</p>
                            </div>
                            <div class="resources-repeater__link text-link f-heading f-600 color-green">WATCH VIDEO</div>    
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>