<div class="six-steps__wrapper">
    <div class="wrapper-full">
        <section class="six-steps">
            <div class="six-steps__grid">

                {% set count = 1 %}
                {% for item in boxes %}
                    {% if count == 1 %}
                    <div class="six-steps__zipzap">
                        <div class="six-steps__zipzap__image d-flex">
                            <img class="six-steps__zipzap__img" src="https://via.placeholder.com/440x80">
                        </div>
                    </div>
                    {% endif %}
                    <div class="six-steps__box six-steps__box-{{ count }} d-flex">
                        <div class="six-steps__content d-flex">
                            <div class="six-steps__segment d-flex d-flex-center">
                                <div class="six-steps__circle d-flex d-flex-center">
                                    <img class="six-steps__img d-block lazy" data-src="{{ item.image_url }}">
                                </div>
                            </div>
                            <div class="six-steps__copy">
                                <div class="six-steps__headline d-flex">
                                    <div class="six-steps__number text-number f-heading f-700">{{ count }}</div>
                                    <div class="six-steps__title text-team f-heading f-400 line-normal">{{ item.title }}</div>
                                </div>
                                <div class="six-steps__text">
                                    <p class="six-steps__paragraph text-body">{{ item.text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if count == 3 %}
                    <div class="six-steps__zipzap">
                        <div class="six-steps__zipzap__image d-flex">
                            <img class="six-steps__zipzap__img" src="https://via.placeholder.com/220x40">
                        </div>
                    </div>
                    {% endif %}
                    {% set count = count + 1 %}
                {% endfor %}
                
            </div>
        </section>
    </div>
</div>