<div class="small-banner__wrapper">
    <section class="small-banner" style="background-image: url({{ image_url }})">
        <div class="small-banner__dark"></div>
        <div class="small-banner__container d-flex">
            {% if banner_with_text == true %}
            <div class="small-banner__content">
                <h1 class="small-banner__title banner-heading color-white">{{ title }}</h1>
                <div class="small-banner__cta">
                    <a class="small-banner__btn u-btn" href="#" target="">Our Work for Winning Ideas</a>
                </div>
            </div>
            {% endif %}
        </div>
        
    </section>
</div>