<div class="standard-row__wrapper {{ modifier }}">
    <div class="wrapper-full">
        <section class="standard-row">
            <div class="standard-row__header u-text-center">
                {% if header_title %}
                    <h2 class="standard-row__header__title text-header">{{ header_title }}</h2>
                {% endif %}

                {% if header_text %}
                    <p class="standard-row__header__text text-body">{{ header_text }}</p>
                {% endif %}
            </div>
            <div class="standard-row__container d-flex d-flex-wrap">
                <div class="standard-row__content">
                    <div class="standard-row__copy">
                        {% if title %}
                            <h2 class="standard-row__title text-header">{{ title }}</h2>
                        {% endif %}
                        <div class="standard-row__text text-body">{{ text }}</div>
                        {% if button == true %}
                        <div class="standard-row__button">
                            <a class="standard-row__btn u-btn u-btn--narrow" href="#" target="">Contact Us</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if video == true %}
                    <div class="standard-row__media">
                        <div class="standard-row__responsive">
                            <iframe src="{{ video_url }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                {% else %}
                    <div class="standard-row__media">
                        <img class="standard-row__img img-fluid lazy" data-src="{{ image_url }}">
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
</div>