<div class="transparent-cards__wrapper {{ modifier }}">
    <div class="wrapper-full">
        <section class="transparent-cards">
            <div class="transparent-cards__header u-text-center">
                {% if title %}
                <h2 class="transparent-cards__title text-header">{{ title }}</h2>
                {% endif %}
                {% if text %}
                <p class="transparent-cards__text text-body">{{ text }}</p>
                {% endif %}
            </div>
            <div class="transparent-cards__container d-flex d-flex-wrap">
                {% set k = 13 %}
                {% for item in range(1, k) %}
                    <a class="transparent-cards__box d-flex" href="{{ url }}" target="">
                        <div class="transparent-cards__white"></div>
                        <div class="transparent-cards__image">
                            <img class="transparent-cards__img d-block fit-cover lazy" data-src="{{ cards.item.image_url }}">
                        </div>
                        <div class="transparent-cards__content d-flex">
                            <div class="transparent-cards__copy">
                                <h3 class="transparent-cards__box__title text-team">{{ cards.item.title }}</h3>
                                <p class="transparent-cards__box__text text-body">{{ cards.item.text }}</p>
                            </div>
                            <div class="transparent-cards__link text-nav l-small f-heading f-600 color-green">FIND OUT MORE</div>    
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
    </div>
</div>