@font-face {
    font-family: 'Gothic Bold';
    src: url('/assets/fonts/CenturyGothic-Bold.woff') format('woff'),
         url('/assets/fonts/CenturyGothic-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gothic';
    src: url('/assets/fonts/CenturyGothic.woff') format('woff'),
         url('/assets/fonts/CenturyGothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
