/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

body:not(.has-scrollbar) {
    .wrapper-stretched {
        width: 100vw !important;
        margin-left: calc(-50vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
        left: 0 !important;
    }
}

body.has-scrollbar {
    .wrapper-stretched {
        width: calc(100vw - var(--scroll-bar)) !important;
        margin-left: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
        margin-right: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
    }
}

.wrapper-basic {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include bp(medium) {
        padding-left: 44px;
        padding-right: 44px;
    }

    @include bp(xlarge) {
        padding-left: 150px;
        padding-right: 150px;
    }
}

.wrapper-nav {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    @include bp(xlarge) {
        padding-left: 55px;
        padding-right: 55px;
    }

    @include bp(display) {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.wrapper-full {
    max-width: 1280px;
    @extend .wrapper-basic;
}

.wrapper-small {
    max-width: 1080px;
    @extend .wrapper-basic;
}